<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>friends</key>
		<array>
			<string>1</string>
			<string>10</string>
		</array>
		<key>name</key>
		<string>Raoul d’Andrésy</string>
		<key>gender</key>
		<string>Male</string>
		<key>epid</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>friends</key>
		<array>
			<string>0</string>
			<string>15</string>
			<string>18</string>
			<string>12</string>
			<string>19</string>
			<string>2</string>
		</array>
		<key>name</key>
		<string>Clarisse d’Étigues</string>
		<key>gender</key>
		<string>Female</string>
		<key>epid</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Godefroy d’Étigues</string>
		<key>gender</key>
		<string>Male</string>
		<key>epid</key>
		<integer>1</integer>
		<key>friends</key>
		<array>
			<string>3</string>
			<string>8</string>
			<string>4</string>
			<string>5</string>
			<string>6</string>
			<string>7</string>
			<string>9</string>
			<string>1</string>
			<string>18</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Oscar de Bennetot</string>
		<key>gender</key>
		<string>Male</string>
		<key>epid</key>
		<integer>1</integer>
		<key>friends</key>
		<array>
			<string>2</string>
			<string>4</string>
			<string>5</string>
			<string>6</string>
			<string>7</string>
			<string>8</string>
			<string>9</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Guy de Rolleville</string>
		<key>gender</key>
		<string>Male</string>
		<key>epid</key>
		<integer>2</integer>
		<key>friends</key>
		<array>
			<string>2</string>
			<string>3</string>
			<string>5</string>
			<string>6</string>
			<string>7</string>
			<string>8</string>
			<string>9</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Matthieu de la Vaupalière</string>
		<key>gender</key>
		<string>Male</string>
		<key>epid</key>
		<integer>2</integer>
		<key>friends</key>
		<array>
			<string>2</string>
			<string>3</string>
			<string>4</string>
			<string>6</string>
			<string>7</string>
			<string>8</string>
			<string>9</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Désiré Beaumagnan</string>
		<key>gender</key>
		<string>Male</string>
		<key>epid</key>
		<integer>2</integer>
		<key>friends</key>
		<array>
			<string>2</string>
			<string>3</string>
			<string>4</string>
			<string>5</string>
			<string>7</string>
			<string>8</string>
			<string>9</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>prince d’Arcole</string>
		<key>gender</key>
		<string>Male</string>
		<key>epid</key>
		<integer>2</integer>
		<key>friends</key>
		<array>
			<string>2</string>
			<string>3</string>
			<string>4</string>
			<string>5</string>
			<string>6</string>
			<string>8</string>
			<string>9</string>
			<string>15</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Gustave d’Ormont</string>
		<key>gender</key>
		<string>Male</string>
		<key>epid</key>
		<integer>2</integer>
		<key>friends</key>
		<array>
			<string>2</string>
			<string>3</string>
			<string>4</string>
			<string>5</string>
			<string>6</string>
			<string>7</string>
			<string>9</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Charles Roux d’Estiers</string>
		<key>gender</key>
		<string>Male</string>
		<key>epid</key>
		<integer>2</integer>
		<key>friends</key>
		<array>
			<string>2</string>
			<string>3</string>
			<string>4</string>
			<string>5</string>
			<string>6</string>
			<string>7</string>
			<string>8</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Joséphine Balsamo</string>
		<key>gender</key>
		<string>Female</string>
		<key>epid</key>
		<integer>2</integer>
		<key>friends</key>
		<array>
			<string>11</string>
			<string>20</string>
			<string>17</string>
			<string>0</string>
			<string>12</string>
			<string>14</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Léonard</string>
		<key>gender</key>
		<string>Male</string>
		<key>epid</key>
		<integer>14</integer>
		<key>friends</key>
		<array>
			<string>10</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Eugénie Vasseur</string>
		<key>gender</key>
		<string>Female</string>
		<key>friends</key>
		<array>
			<string>14</string>
			<string>18</string>
			<string>13</string>
			<string>11</string>
			<string>17</string>
			<string>10</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>La maréchaussée de Doudeville</string>
		<key>gender</key>
		<string>Male</string>
		<key>friends</key>
		<array>
			<string>14</string>
			<string>18</string>
			<string>19</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Albertine Delâtre</string>
		<key>gender</key>
		<string>Female</string>
		<key>friends</key>
		<array>
			<string>13</string>
			<string>18</string>
			<string>19</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Brigitte Rousselin</string>
		<key>gender</key>
		<string>Female</string>
		<key>friends</key>
		<array>
			<string>13</string>
			<string>1</string>
			<string>7</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Valentine Petipeton</string>
		<key>gender</key>
		<string>Female</string>
		<key>friends</key>
		<array>
			<string>14</string>
			<string>12</string>
			<string>13</string>
			<string>15</string>
			<string>7</string>
			<string>18</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Dominique Caillé</string>
		<key>gender</key>
		<string>Male</string>
		<key>friends</key>
		<array>
			<string>0</string>
			<string>10</string>
			<string>11</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Marthe Rousselin</string>
		<key>gender</key>
		<string>Female</string>
		<key>friends</key>
		<array>
			<string>1</string>
			<string>15</string>
			<string>12</string>
			<string>14</string>
			<string>19</string>
			<string>13</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Mgr d&apos;Ambricourt</string>
		<key>gender</key>
		<string>Male</string>
		<key>friends</key>
		<array>
			<string>13</string>
			<string>14</string>
			<string>18</string>
			<string>6</string>
			<string>2</string>
		</array>
	</dict>
	<dict>
		<key>gender</key>
		<string>Male</string>
		<key>name</key>
		<string>Joseph Pellegrini</string>
		<key>friends</key>
		<array>
			<string>10</string>
			<string>11</string>
		</array>
	</dict>
</array>
</plist>
