<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Raoul d’Andrésy</string>
		<key>gender</key>
		<string>Male</string>
		<key>epid</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Clarisse d’Étigues</string>
		<key>gender</key>
		<string>Female</string>
		<key>epid</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Godefroy d’Étigues</string>
		<key>gender</key>
		<string>Male</string>
		<key>epid</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Oscar de Bennetot</string>
		<key>gender</key>
		<string>Male</string>
		<key>epid</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Guy de Rolleville</string>
		<key>gender</key>
		<string>Male</string>
		<key>epid</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Matthieu de la Vaupalière</string>
		<key>gender</key>
		<string>Male</string>
		<key>epid</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Désiré Beaumagnan</string>
		<key>gender</key>
		<string>Male</string>
		<key>epid</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>prince d’Arcole</string>
		<key>gender</key>
		<string>Male</string>
		<key>epid</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Gustave d’Ormont</string>
		<key>gender</key>
		<string>Male</string>
		<key>epid</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Charles Roux d’Estiers</string>
		<key>gender</key>
		<string>Male</string>
		<key>epid</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Joséphine Balsamo</string>
		<key>gender</key>
		<string>Female</string>
		<key>epid</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Léonard</string>
		<key>gender</key>
		<string>Male</string>
		<key>epid</key>
		<integer>14</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Eugénie Vasseur</string>
		<key>gender</key>
		<string>Female</string>
	</dict>
	<dict>
		<key>name</key>
		<string>La maréchaussée de Doudeville</string>
		<key>gender</key>
		<string>Male</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Albertine Delâtre</string>
		<key>gender</key>
		<string>Female</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Brigitte Rousselin</string>
		<key>gender</key>
		<string>Female</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Valentine Petipeton</string>
		<key>gender</key>
		<string>Female</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Dominique Caillé</string>
		<key>gender</key>
		<string>Male</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Marthe Rousselin</string>
		<key>gender</key>
		<string>Female</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Mgr d&apos;Ambricourt</string>
		<key>gender</key>
		<string>Male</string>
	</dict>
	<dict>
		<key>gender</key>
		<string>Male</string>
		<key>name</key>
		<string>Joseph Pellegrini</string>
	</dict>
</array>
</plist>
