<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>friends</key>
		<array>
			<string>1</string>
			<string>10</string>
		</array>
		<key>name</key>
		<string>Raoul d’Andrésy</string>
		<key>gender</key>
		<string>Male</string>
		<key>epid</key>
		<integer>0</integer>
		<key>quote</key>
		<string>Il nous faut de l&apos;audace, encore de l&apos;audace, toujours de l&apos;audace.</string>
		<key>quote_auth</key>
		<string>George Danton</string>
		<key>numphotos</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>friends</key>
		<array>
			<string>0</string>
			<string>15</string>
			<string>18</string>
			<string>12</string>
			<string>19</string>
			<string>2</string>
		</array>
		<key>name</key>
		<string>Clarisse d’Étigues</string>
		<key>gender</key>
		<string>Female</string>
		<key>epid</key>
		<integer>0</integer>
		<key>quote</key>
		<string>Un regard de toi, une seule parole m’en dit plus que toute la sagesse de ce monde.</string>
		<key>quote_auth</key>
		<string>J. W. von Goethe</string>
		<key>numphotos</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Godefroy d’Étigues</string>
		<key>gender</key>
		<string>Male</string>
		<key>epid</key>
		<integer>1</integer>
		<key>friends</key>
		<array>
			<string>3</string>
			<string>8</string>
			<string>4</string>
			<string>5</string>
			<string>6</string>
			<string>7</string>
			<string>9</string>
			<string>1</string>
			<string>18</string>
		</array>
		<key>quote</key>
		<string>Un bon gendre est un gendre mort.</string>
		<key>quote_auth</key>
		<string>G. d&apos;Étigues</string>
		<key>numphotos</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Oscar de Bennetot</string>
		<key>gender</key>
		<string>Male</string>
		<key>epid</key>
		<integer>1</integer>
		<key>friends</key>
		<array>
			<string>2</string>
			<string>4</string>
			<string>5</string>
			<string>6</string>
			<string>7</string>
			<string>8</string>
			<string>9</string>
		</array>
		<key>quote</key>
		<string>La loi du plus fort est toujours la meilleure.</string>
		<key>quote_auth</key>
		<string>La Fontaine</string>
		<key>numphotos</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Guy de Rolleville</string>
		<key>gender</key>
		<string>Male</string>
		<key>epid</key>
		<integer>2</integer>
		<key>friends</key>
		<array>
			<string>2</string>
			<string>3</string>
			<string>5</string>
			<string>6</string>
			<string>7</string>
			<string>8</string>
			<string>9</string>
		</array>
		<key>quote</key>
		<string>Quand on aime, on ne compte pas !</string>
		<key>quote_auth</key>
		<string>Josette Dufoin, nourrice.</string>
		<key>numphotos</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Matthieu de la Vaupalière</string>
		<key>gender</key>
		<string>Male</string>
		<key>epid</key>
		<integer>2</integer>
		<key>friends</key>
		<array>
			<string>2</string>
			<string>3</string>
			<string>4</string>
			<string>6</string>
			<string>7</string>
			<string>8</string>
			<string>9</string>
		</array>
		<key>quote</key>
		<string>L&apos;avantage des médecins, c&apos;est que lorsqu&apos;ils commettent une erreur, ils l&apos;enterrent tout de suite.</string>
		<key>quote_auth</key>
		<string>Alphonse Allais</string>
		<key>numphotos</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Désiré Beaumagnan</string>
		<key>gender</key>
		<string>Male</string>
		<key>epid</key>
		<integer>2</integer>
		<key>friends</key>
		<array>
			<string>2</string>
			<string>3</string>
			<string>4</string>
			<string>5</string>
			<string>7</string>
			<string>8</string>
			<string>9</string>
		</array>
		<key>quote</key>
		<string>Tout le mal de ce monde vient de ce qu&apos;on n&apos;est pas assez bon ou pas assez pervers.</string>
		<key>quote_auth</key>
		<string>Machiavel</string>
		<key>numphotos</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Louis d’Arcole</string>
		<key>gender</key>
		<string>Male</string>
		<key>epid</key>
		<integer>2</integer>
		<key>friends</key>
		<array>
			<string>2</string>
			<string>3</string>
			<string>4</string>
			<string>5</string>
			<string>6</string>
			<string>8</string>
			<string>9</string>
			<string>15</string>
		</array>
		<key>quote</key>
		<string>Dire que j&apos;ai gâché des années de ma vie, que j&apos;ai voulu mourir, que j&apos;ai eu mon plus grand amour, pour une femme qui ne me plaisait pas, qui n&apos;était pas mon genre !</string>
		<key>quote_auth</key>
		<string>Un mondain</string>
		<key>numphotos</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Gustave d’Ormont</string>
		<key>gender</key>
		<string>Male</string>
		<key>epid</key>
		<integer>2</integer>
		<key>friends</key>
		<array>
			<string>2</string>
			<string>3</string>
			<string>4</string>
			<string>5</string>
			<string>6</string>
			<string>7</string>
			<string>9</string>
		</array>
		<key>quote</key>
		<string>Ce qui ne te tue pas te rend plus fort.</string>
		<key>quote_auth</key>
		<string>Nietzsche</string>
		<key>numphotos</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Charles Roux d’Estiers</string>
		<key>gender</key>
		<string>Male</string>
		<key>epid</key>
		<integer>2</integer>
		<key>friends</key>
		<array>
			<string>2</string>
			<string>3</string>
			<string>4</string>
			<string>5</string>
			<string>6</string>
			<string>7</string>
			<string>8</string>
		</array>
		<key>quote</key>
		<string>Toute machine qui s’arrête est une machine morte.</string>
		<key>quote_auth</key>
		<string>Emile Zola</string>
		<key>numphotos</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Joséphine Balsamo</string>
		<key>gender</key>
		<string>Female</string>
		<key>epid</key>
		<integer>2</integer>
		<key>friends</key>
		<array>
			<string>11</string>
			<string>20</string>
			<string>17</string>
			<string>0</string>
			<string>12</string>
			<string>14</string>
		</array>
		<key>quote</key>
		<string>Il n’y a que les esprits légers pour ne pas juger sur les apparences.</string>
		<key>quote_auth</key>
		<string>Oscar Wilde</string>
		<key>numphotos</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Léonard</string>
		<key>gender</key>
		<string>Male</string>
		<key>epid</key>
		<integer>13</integer>
		<key>friends</key>
		<array>
			<string>10</string>
		</array>
		<key>quote</key>
		<string>Le silence est un ami qui ne trahit jamais.</string>
		<key>quote_auth</key>
		<string>Sagesse orientale</string>
		<key>numphotos</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Eugénie Vasseur</string>
		<key>gender</key>
		<string>Female</string>
		<key>epid</key>
		<integer>14</integer>
		<key>friends</key>
		<array>
			<string>14</string>
			<string>18</string>
			<string>13</string>
			<string>11</string>
			<string>17</string>
			<string>10</string>
		</array>
		<key>quote</key>
		<string>Le meilleur douillon du pays de Caux.</string>
		<key>quote_auth</key>
		<string>Monsieur Flochart, sous-préfet</string>
		<key>numphotos</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>La maréchaussée de Doudeville</string>
		<key>gender</key>
		<string>Male</string>
		<key>epid</key>
		<integer>14</integer>
		<key>friends</key>
		<array>
			<string>14</string>
			<string>18</string>
			<string>19</string>
		</array>
		<key>quote</key>
		<string>Gendarme : Rempart de la société.</string>
		<key>quote_auth</key>
		<string>Gustave Flaubert, Dictionnaire des idées reçues</string>
		<key>numphotos</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Albertine Delâtre</string>
		<key>gender</key>
		<string>Female</string>
		<key>epid</key>
		<integer>17</integer>
		<key>friends</key>
		<array>
			<string>13</string>
			<string>18</string>
			<string>19</string>
		</array>
		<key>quote</key>
		<string>Calomniez, calomniez, il en restera toujours quelque chose ! </string>
		<key>quote_auth</key>
		<string>Voltaire</string>
		<key>numphotos</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Brigitte Rousselin</string>
		<key>gender</key>
		<string>Female</string>
		<key>epid</key>
		<integer>19</integer>
		<key>friends</key>
		<array>
			<string>13</string>
			<string>1</string>
			<string>7</string>
		</array>
		<key>quote</key>
		<string>Diversité, c’est ma devise !</string>
		<key>quote_auth</key>
		<string>La Fontaine</string>
		<key>numphotos</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Valentine Petipeton</string>
		<key>gender</key>
		<string>Female</string>
		<key>epid</key>
		<integer>19</integer>
		<key>friends</key>
		<array>
			<string>14</string>
			<string>12</string>
			<string>13</string>
			<string>15</string>
			<string>7</string>
			<string>18</string>
		</array>
		<key>quote</key>
		<string>La révolution sera la floraison de l’humanité, comme l’amour est la floraison du cœur.</string>
		<key>quote_auth</key>
		<string>Louise Michel</string>
		<key>numphotos</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Dominique Caillé</string>
		<key>gender</key>
		<string>Male</string>
		<key>epid</key>
		<integer>20</integer>
		<key>friends</key>
		<array>
			<string>0</string>
			<string>10</string>
			<string>11</string>
		</array>
		<key>quote</key>
		<string>Quand j’étais gamin, j’avais la passion des cartes. Je restais des heures à considérer l’Amérique du Sud, l’Afrique ou l’Australie – perdu dans toutes les gloires de l’exploration. A cette époque, il y avait pas mal d’espaces blancs sur la terre, et quand j’en apercevais un sur la carte qui avait l’air particulièrement attrayant (mais ils ont tous cet air-là !), je posais le doigt dessus et disais : ‘Quand je serai grand, j’irai là !’</string>
		<key>quote_auth</key>
		<string>Rudyard Kipling</string>
		<key>numphotos</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Marthe Rousselin</string>
		<key>gender</key>
		<string>Female</string>
		<key>epid</key>
		<integer>30</integer>
		<key>friends</key>
		<array>
			<string>1</string>
			<string>15</string>
			<string>12</string>
			<string>14</string>
			<string>19</string>
			<string>13</string>
		</array>
		<key>quote</key>
		<string>Comment voulez-vous gouverner un pays où il existe 258 variétés de fromage ?</string>
		<key>quote_auth</key>
		<string>Sagesse du pays d&apos;Artois</string>
		<key>numphotos</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Mgr d&apos;Ambricourt</string>
		<key>gender</key>
		<string>Male</string>
		<key>epid</key>
		<integer>43</integer>
		<key>friends</key>
		<array>
			<string>13</string>
			<string>14</string>
			<string>18</string>
			<string>6</string>
			<string>2</string>
		</array>
		<key>quote</key>
		<string>Faites ce que je dis, mais ne faites pas ce que je fais.</string>
		<key>quote_auth</key>
		<string>Évangile selon Saint Matthieu</string>
		<key>numphotos</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>gender</key>
		<string>Male</string>
		<key>name</key>
		<string>Joseph Pellegrini</string>
		<key>epid</key>
		<integer>51</integer>
		<key>friends</key>
		<array>
			<string>10</string>
			<string>11</string>
		</array>
		<key>quote</key>
		<string>Quand on tire, on raconte pas sa vie.</string>
		<key>quote_auth</key>
		<string>Sagesse nord-américaine</string>
		<key>numphotos</key>
		<integer>2</integer>
	</dict>
</array>
</plist>
