<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>question</key>
		<string>Ma plus grande qualité.</string>
		<key>reponses</key>
		<array>
			<string>Le charme.</string>
			<string>Je sais aimer.</string>
			<string>Baron.</string>
			<string>Je n’abandonne jamais la trace d’une proie.</string>
			<string>La persévérance. J’aurai cette édition aux armes de la Pompadour. Dussè-je vendre ma collection de timbres.</string>
			<string>Je réussis à merveille les opérations de la rotule.</string>
			<string>Je reste un excellent avocat, surtout de mes causes.</string>
			<string>L’élégance.</string>
			<string>Régularité, discipline, persévérance.</string>
			<string>Aucun rouage, piston ou engrenage ne me résiste.</string>
			<string>La sincérité.</string>
			<string>Taiseux.</string>
			<string>Un douillon miel calvados servi tiède.</string>
			<string>Maintenir l’ordre à Doudeville.</string>
			<string>J’ai toujours été très observatrice.</string>
			<string>Je suis, n’est-ce pas assez ?</string>
			<string>On me dit coriace comme du cuir de vieux sanglier.</string>
			<string>Je suis un rêveur de premier ordre.</string>
			<string>Mon Neufchâtel.</string>
			<string>La modestie.</string>
			<string>Débrider les lourdes.</string>
		</array>
	</dict>
	<dict>
		<key>question</key>
		<string>Ce que j’apprécie le plus chez mes amis.</string>
		<key>reponses</key>
		<array>
			<string>L&apos;admiration.</string>
			<string>La gaieté !</string>
			<string>Un bel arbre généalogique.</string>
			<string>Un bon terrain de chasse.</string>
			<string>Mes objets, mes amis les plus chers…</string>
			<string>Un syndrome rarissime.</string>
			<string>Je n’ai pas d’amis. Comme disait Rivarol, dans chaque ami, il y a la moitié d’un traître.</string>
			<string>Leurs femmes.</string>
			<string>Une bonne maîtrise du ballon.</string>
			<string>Qu’ils fassent tic-tac !</string>
			<string>Leur extrême dévouement.</string>
			<string>Non renseigné.</string>
			<string>Un bon coup de fourchette.</string>
			<string>L’honnêteté, la modestie, la tempérance.</string>
			<string>L’indiscrétion.</string>
			<string> Le diamant, le meilleur ami de la femme.</string>
			<string>Le courage.</string>
			<string>Les qualités du vrai coéquipier : la franchise et la débrouillardise.</string>
			<string>L’honneur qu’ils me font d’être mes amis.</string>
			<string>La générosité.</string>
			<string>La discrétion.</string>
		</array>
	</dict>
	<dict>
		<key>question</key>
		<string>Mon principal défaut.</string>
		<key>reponses</key>
		<array>
			<string>L’immodestie.</string>
			<string>La naïveté.</string>
			<string>Il paraît que je ne sens pas ma force.</string>
			<string>La brutalité.</string>
			<string>Mon château est un peu petit.</string>
			<string>Il paraît que j’écris mal ?</string>
			<string>La comtesse, ma faiblesse.</string>
			<string>L’âge qui fait de moi un vieux beau, hélas.</string>
			<string>Le manque de souplesse.</string>
			<string>J’ai du mal à visser droit : l&apos;impatience.</string>
			<string>J’ai trop de scrupules.</string>
			<string>Non renseigné.</string>
			<string>La gourmandise !</string>
			<string>La maréchaussée de Doudeville  est irréprochable !</string>
			<string>Une vue basse. Pourquoi ces journaux sont-ils écrits si petit !</string>
			<string>Un défaut ? Quel défaut ?</string>
			<string> Je ne rajeunis pas.</string>
			<string>Trop pauvre pour monter une expédition.</string>
			<string>J’aime trop.</string>
			<string>L&apos;an passé, j’ai volé un ruban. Dans la sacristie.</string>
			<string>Trop sentimental.</string>
		</array>
	</dict>
	<dict>
		<key>question</key>
		<string>Mon occupation préférée.</string>
		<key>reponses</key>
		<array>
			<string>Marcher sur les mains en récitant Homère dans le texte.</string>
			<string>Lire des romans.</string>
			<string>La lutte gréco-romaine.</string>
			<string>Dépecer des chats.</string>
			<string>Compléter mon assortiment de canards de collection.</string>
			<string>Feuilleter des manuels de dermatologies. Pour les illustrations.</string>
			<string>Réciter le code civil, en pensant au jugement dernier.</string>
			<string>Jouer au Baccara comme un maharadjah. Mais je ne dis jamais non à un poker.</string>
			<string>Le football gaélique, la joute nautique, la savate javanaise.</string>
			<string>Bricoler ma De Dion-Bouton à cylindre, un petit bolide qui dépasse les 22 kilomètres par heure !</string>
			<string>Broder des chatons au point de croix pour les pauvres.</string>
			<string>Non renseigné.</string>
			<string>Confectionner des douillons.</string>
			<string>Faire des rondes du côté de la taverne.</string>
			<string>Les faits divers.</string>
			<string>Jouer, jouer et jouer encore !</string>
			<string>Graisser ma carabine.</string>
			<string>Lire des cartes de pays lointains.</string>
			<string>M’occuper de mes bêtes.</string>
			<string>Confesser.</string>
			<string>Rincer le bourgeois.</string>
		</array>
	</dict>
	<dict>
		<key>question</key>
		<string>Mon rêve de bonheur.</string>
		<key>reponses</key>
		<array>
			<string>Aimer et me faire aimer.</string>
			<string>Épouser Raoul.</string>
			<string>Écraser la tête du jeune gringalet qui tourne autour de ma fille. Avec un seul poing.</string>
			<string>Une Smith &amp; Remington, calibre 6, à détente mexicaine.</string>
			<string>Un canard barboteur sud-américain. Ou un Vauquerville à huppe bleue. J’hésite.</string>
			<string>Disséquer le cerveau de Charcot, l&apos;aliéniste.</string>
			<string>Résoudre l’énigme des moines.</string>
			<string>Une invitation chez la duchesse de Merguantes serait la consécration de ma vie mondaine. Il paraît que le petit Trousp la connaît bien.</string>
			<string>Gagner la 2e édition du grand concours international de boules lyonnaises.</string>
			<string>Survoler le champ du père Bouchut en machine volante.</string>
			<string>Percer les secrets de mon père.</string>
			<string>Non renseigné.</string>
			<string>Recevoir la médaille d’or du meilleur douillon de Seine-Maritime.</string>
			<string>Coincer le braconneur qui a encore barboté trois poules à la mère Clapier.</string>
			<string>Percer à jour ce Léonard. Il cache quelque chose, cet individu.</string>
			<string>Doubler Hortense Schneider, cette vieille carne. Je me demande pourquoi Offenbach s’en est entiché. Je chante aussi bien !</string>
			<string>Ne plus avoir ces fichues douleurs dans les jambes…</string>
			<string>Atteindre le Pôle Nord.</string>
			<string>Assister au Concours Général Agricole de Paris, sur les Champs-Elysées.</string>
			<string>Le bonheur n’est pas de ce monde, mes brebis.</string>
			<string>Retourner à Golden City.</string>
		</array>
	</dict>
	<dict>
		<key>question</key>
		<string>Quel serait mon plus grand malheur.</string>
		<key>reponses</key>
		<array>
			<string>Perdre ma liberté.</string>
			<string>Ne pas épouser Raoul.</string>
			<string>Me faire voler par mes gens.</string>
			<string>Ne plus tuer.</string>
			<string>Un incendie.</string>
			<string>Perdre mon tout nouveau stéthoscope.</string>
			<string>Échouer.</string>
			<string>Une faute de goût.</string>
			<string>Finir en petite voiture.</string>
			<string>Vivre à la préhistoire. Rendez-vous compte ! On n’avait même pas inventé le tire-bouchon…</string>
			<string>Briser mon précieux miroir…</string>
			<string>Non renseigné.</string>
			<string>Rater une fournée de douillons.</string>
			<string>Un bel uniforme avec un bouton en moins.</string>
			<string>Devenir sourde.</string>
			<string>Perdre ma mère.</string>
			<string>Qu’il arrive quelque chose à mon gosse, il a jamais été très malin, ce gamin.</string>
			<string>Rester toute ma vie à Doudeville, avec mon oncle gendarme.</string>
			<string>Une diarrhée virale bovine fatale.</string>
			<string>Perdre ma chère cure. Jamais je ne quitterai Jumièges !</string>
			<string>Épouser la veuve au bout d’une corde.</string>
		</array>
	</dict>
	<dict>
		<key>question</key>
		<string>Ce que je voudrais être.</string>
		<key>reponses</key>
		<array>
			<string>Général ? Ministre ? Ambassadeur ? Arsène Lupin ?</string>
			<string>La femme de Raoul.</string>
			<string>Riche. On n’est jamais assez riche.</string>
			<string>Tranquille, si possible.</string>
			<string>Propriétaire du Louvre, mais il n’est pas à vendre…</string>
			<string>Professeur de la faculté de médecine de Paris, décoré de la légion d’honneur pour services rendus à l’humanité.</string>
			<string>Pape.</string>
			<string>La cravate idéale, en soie des Indes.</string>
			<string>Souple, musclé, vif, agile, rapide.</string>
			<string>Une machine à vapeur. Rien n’est plus beau qu’une machine à vapeur.</string>
			<string>Religieuse de la Visitation.</string>
			<string>Non renseigné.</string>
			<string>Présidente de la Confrérie des Gouste-Douillon.</string>
			<string>Gendarme un jour, gendarme toujours !</string>
			<string>Officier de la police des mœurs.</string>
			<string>Moi-même. Les autres, c&apos;est déjà pris.</string>
			<string>Plus jeune.</string>
			<string>Le plus grand explorateur de tous les temps.</string>
			<string>Médaille d’or du meilleur Neufchâtel de Seine-inférieure.</string>
			<string>Un bon casuiste : trancher les cas de conscience, quelle volupté !</string>
			<string>Gagnant du gros lot.</string>
		</array>
	</dict>
	<dict>
		<key>question</key>
		<string>Mes héros dans la vie réelle.</string>
		<key>reponses</key>
		<array>
			<string>Papa.</string>
			<string>Le beau, l’intrépide Raoul d’Andrésy.</string>
			<string>Jules-Jacques-Philibert-Marie de Caux de Praslin-Chabrillac, comte de Fitz-Montguyon, troisième du nom.</string>
			<string>Mes chiens.</string>
			<string>Messieurs Jean Tasse &amp; Jacques Humule, antiquaires,  5 rue Damiette, Rouen.</string>
			<string>Arthur J. Hamburger, diététicien.</string>
			<string>Son éminence le cardinal de Richelieu. Louis XIII ne fut guère plus qu’une poupée entre ses mains…</string>
			<string>Brummel. Sans lui, on porterait encore des culottes et des perruques.</string>
			<string>Pierre Fredy de Coubertin.</string>
			<string>Léon Bollée, inventeur de la machine à extraire les racines carrées.</string>
			<string>Papa, Joseph Balsamo.</string>
			<string>Non renseigné.</string>
			<string>David Douillon, champion de savate japonaise.</string>
			<string>Monsieur Joseph Longtarin, préfet de police.</string>
			<string>Les frères Goncourt et leurs &quot;Mémoires de la vie littéraire&quot;. Une mine d&apos;information. Dire que Maupassant était un si vilain menteur !</string>
			<string>Offenbach, Feydeau, Labiche…</string>
			<string>Mon cousin, Joseph Cigogne. Sans lui, ça ferait longtemps que je mangerais les pissenlits par la racine.</string>
			<string>Henry Stanley, ça c’est un type ! Retrouver les sources du Nil, c’était fort.</string>
			<string>Mon pauvre George, mort de remords.</string>
			<string>Talleyrand. Même s’il ne savait pas toujours sa messe.</string>
			<string>Butch Cassidy, Jesse James, des braqueurs de première classe. En France on ne peut pas lutter avec ça !</string>
		</array>
	</dict>
	<dict>
		<key>question</key>
		<string>Mes héroïnes dans la vie réelle</string>
		<key>reponses</key>
		<array>
			<string>Maman.</string>
			<string>L’infirmière Florence Nightingale.</string>
			<string>La reine Victoria.</string>
			<string>La flibustière Anne Bonny, une sacrée bonne femme.</string>
			<string>Eugénie Richard, de Doudeville. Superbe collection d’aiguillères chinoises.</string>
			<string>La Brinvilliers. On lui doit beaucoup dans l’expérimentation des drogues.</string>
			<string>La machiavélique et maîtresse femme, Catherine de Médicis. Admirables, ces armoires à poison du château de Blois…</string>
			<string>Marie-Antoinette et ses trois tenues quotidiennes.</string>
			<string>Les femmes douces et délicates. L’athlétisme exige des efforts brutaux, incompatibles avec leurs belles fonctions procréatives.</string>
			<string>Margaret Knight, inventrice de la machine à fabriquer automatiquement des sacs en papier à fond plat.</string>
			<string>Maman, Joséphine de Beauharnais.</string>
			<string>Non renseigné.</string>
			<string>Dorothée Ouyon (1532-1578), auteur de la première recette connue de pomme enfermée dans de la pâte à pain.</string>
			<string>Thérèse Humbert, l’honnêteté et la probité faite femme</string>
			<string>Les tricoteuses jacobines, qui entrechoquaient leurs aiguilles jusque devant la guillotine. Ça devait bien valoir le théâtre, et c’était gratuit !</string>
			<string>La Goulue du Moulin Rouge. En voilà une qui sait lever la jambe (et le coude aussi !) </string>
			<string>Louise Michel et Augustine Chiffon, que j’ai bien connue en 71. À en croire les livres de maintenant, on dirait que la Commune s’est faite sans les femmes !</string>
			<string>Dora T. E.</string>
			<string>Marie Harel, à qui l’on doit l’invention du camembert.</string>
			<string>Thérèse Fouque, une femme très pieuse, qui donne toujours  au denier du culte. J’ai enfin pu refaire ma salle d’eau.</string>
			<string>Calamity Jane.</string>
		</array>
	</dict>
	<dict>
		<key>question</key>
		<string>Mon héros dans l’histoire.</string>
		<key>reponses</key>
		<array>
			<string>Les canailles flamboyantes : Robin des bois, Cartouche, chef de bande à la cour des miracles, Mandrin, le bandit justicier !</string>
			<string>Sainte Blandine, jetée aux lions.</string>
			<string>Néron, très incompris.</string>
			<string>Brutus.</string>
			<string>Les puissants Médicis de Florence ou encore le Cardinal de Mazarin à qui l’on doit une si belle bibliothèque…</string>
			<string>Hippocrate, évidemment.</string>
			<string>Bernard Gui, auteur du fameux &apos;Manuel de l&apos;Inquisiteur&apos;, en vente dans toutes les bonnes librairies.</string>
			<string>François Vatel, le plus fameux Hara-Kiri de la cuisine française.</string>
			<string>Les Grecs et  les Spartiates.</string>
			<string>Les Égyptiens de l’Antiquité, inventeurs du papyrus, de l’école et de la couveuse artificielle.</string>
			<string>Marie-Antoinette.</string>
			<string>Non renseigné.</string>
			<string>Constantin Le Pieux, empereur romain, mort en trébuchant sur un douillon, lors d’un raid sur le pays de Caux.</string>
			<string>Javert.</string>
			<string>Ganelon, notre Judas français. Trahir Charlemagne, fallait oser.</string>
			<string>Les femmes de caractère ! Cléopâtre, Hélène de Troie, Diane de Poitiers…</string>
			<string>Olympe de Gouges, qui voulait le droit de vote pour les femmes. On attend toujours.... Suffrage universel, mon œil !</string>
			<string>Alexandre le Grand. Conquérir le monde, affronter des éléphants de combats, tout ça…</string>
			<string>Le saviez-vous ? La vache normande aurait une origine viking !</string>
			<string>Jésus et Marie.</string>
			<string>Connais pas.</string>
		</array>
	</dict>
	<dict>
		<key>question</key>
		<string>Mon livre de chevet.</string>
		<key>reponses</key>
		<array>
			<string>Essai pratique et théorique sur le vélocipède, d’Alphonse Marchegay.</string>
			<string>J’hésite entre Mortel amour et La Roche sanglante (tome I. Fille de millionnaire, tome  II. Sans pitié).</string>
			<string>Armoiries, terriers et cartulaires de France, 11e édition augmentée.</string>
			<string>La Gazette illustrée du chien de chasse. Je suis abonné.</string>
			<string>La Gazette de l’hôtel Drouot, pour ne pas rater une enchère…</string>
			<string>En ce moment, Épidémiologie de l’hirsutisme dans la région palmière (vulg. poil dans la main), du docteur G. La Fleme.</string>
			<string>La Bibliothèque des Croisades, en 16 volumes.</string>
			<string>Les Évangiles. Et la revue La Vie parisienne, bien sûr.</string>
			<string>La Gymnastique raisonnée, moyen infaillible de prolonger l’existence et de prévenir les maladies, d’Eugène Paz.</string>
			<string>Le bicycle facile : comment fabriquer son propre vélocipède en seulement 5 jours, par Eugène Courroie.</string>
			<string>Le Portrait de Dorian Gray.</string>
			<string>Non renseigné.</string>
			<string>L’Ode au douillon, de monsieur Donselet, de l’académie française.</string>
			<string>Le feuilleton Le Gendarme de &quot;La dépêche de Doudeville&quot; : Le Gendarme à Deauville, Le Gendarme à Yvetot, le gendarme et les sélénites…</string>
			<string>Le Quotidien du crime, La Gazette du bagne, La Revue illustrée du parricide…</string>
			<string>L’art de la guerre, de Sun Tse. Il en faut des ruses pour survivre dans ce monde d’hommes !</string>
			<string>La Guerre civile en France, de Monsieur Marx.</string>
			<string>Vingt mille lieues sous les mers.</string>
			<string>Mémoire physiocratique sur la laiterie modèle de Liancourt, de François-Alexandre de La Rochefoucauld.</string>
			<string>Tartuffe.</string>
			<string>L’Encyclopédie des armes à feu, vol. 2 : les gros calibres.</string>
		</array>
	</dict>
	<dict>
		<key>question</key>
		<string>Comment j’aimerais mourir</string>
		<key>reponses</key>
		<array>
			<string>Glorieusement.</string>
			<string>Dans les bras de Raoul.</string>
			<string>Duc.</string>
			<string>Sans bavures.</string>
			<string>Simplement, au milieu de mes trésors.</string>
			<string>Bien portant.</string>
			<string>Entre la crosse et la mitre.</string>
			<string>Dans un suaire de chez Diaurre.</string>
			<string>Sur le terrain.</string>
			<string>Fier d’avoir fait avancer le monde vers la modernité, qui délivrera l’humanité des chaînes du travail.</string>
			<string>La fille de Cagliostro peut-elle mourir ?</string>
			<string>Non renseigné.</string>
			<string>D’une indigestion de douillons.</string>
			<string>Dans l’exercice de mes fonctions.</string>
			<string>Bien informée.</string>
			<string>De rire !</string>
			<string>Le plus tard possible, merci bien !</string>
			<string>En expédition.</string>
			<string>Sans souffrances.</string>
			<string>En odeur de sainteté.</string>
			<string>Dans mon lit, en bourgeois.</string>
		</array>
	</dict>
	<dict>
		<key>question</key>
		<string>Fautes qui m’inspirent le plus d’indulgence.</string>
		<key>reponses</key>
		<array>
			<string>Les erreurs de jeunesse.</string>
			<string>Les faiblesses de Raoul.</string>
			<string>L’indulgence est une faiblesse.</string>
			<string>L’abus de bénédictine.</string>
			<string>La syllogomanie, la manie de ne rien jeter.</string>
			<string>Confondre l’acné avec la peste bubonique, un point de côté avec un arrêt cardiaque, une crise de foie avec un empoisonnement.</string>
			<string>Les miennes.</string>
			<string>Les dettes de jeu.</string>
			<string>Un coup en chandelle avec le dessus de la tête du driver en fin de swing.</string>
			<string>Les inventions inutiles, comme le papier-toilette ou la brosse à dents.</string>
			<string>L’excès de zèle.</string>
			<string>Non renseigné.</string>
			<string>Un douillon au poire (mais avec du calva !).</string>
			<string>Les fautes d’orthographe.</string>
			<string>La curiosité.</string>
			<string>La frivolité.</string>
			<string>Les gamineries.</string>
			<string>Le pragmatisme suppose quelques arrangements avec la morale.</string>
			<string>Les fautes d’étourderie.</string>
			<string>Les péchés véniels.</string>
			<string>Aucune : les indulgences, ça s&apos;achète.</string>
		</array>
	</dict>
	<dict>
		<key>question</key>
		<string>Ma devise</string>
		<key>reponses</key>
		<array>
			<string>Impossible n’est pas français !</string>
			<string>Celui qui m&apos;enflamme a le pouvoir de m&apos;éteindre.</string>
			<string>C’est comme ça, et pas autrement.</string>
			<string>Discute pas.</string>
			<string>On ne sait jamais, ça peut toujours servir.</string>
			<string>Mais non, vous n’avez pas mal !</string>
			<string>Paris vaut bien une messe.</string>
			<string>Mieux vaut être laid que mal habillé.</string>
			<string>Un esprit sain dans un corps musclé.</string>
			<string>Eurêka.</string>
			<string>Ad Lapidem Currebat Olim Regina.</string>
			<string>Non renseigné.</string>
			<string>Il vaut mieux faire envie que pitié.</string>
			<string>Doudeville : Détermination, Discipline, Décision.</string>
			<string>Il n’y a pas de fumée sans feu.</string>
			<string>Qui s’y frotte s&apos;y pique !</string>
			<string>À nous deux, Versailles !</string>
			<string>La fin justifie les moyens.</string>
			<string>Ce n&apos;est pas la vache qui beugle le plus fort qui a le plus de lait.</string>
			<string>Après tout, Judas aussi était apôtre !</string>
			<string>Le franc-or, le bon du trésor, le dollar.</string>
		</array>
	</dict>
</array>
</plist>
