<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Q1</key>
	<dict>
		<key>question</key>
		<string>Ma plus grande qualité.</string>
		<key>reponses</key>
		<array>
			<string>Le charme.</string>
			<string>Je sais aimer.</string>
			<string>Baron.</string>
			<string>Je n’abandonne jamais la trace d’une proie.</string>
			<string></string>
			<string></string>
			<string>Je reste un excellent avocat, surtout de mes causes.</string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
		</array>
	</dict>
	<key>Q2</key>
	<dict>
		<key>question</key>
		<string>Ce que j’apprécie le plus chez mes amis.</string>
		<key>reponses</key>
		<array>
			<string>L&apos;admiration.</string>
			<string>La gaieté !</string>
			<string>Un bel arbre généalogique.</string>
			<string>Un bon terrain de chasse.</string>
			<string></string>
			<string></string>
			<string>Je n’ai pas d’amis. Comme disait Rivarol, dans chaque ami, il y a la moitié d’un traître.</string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
		</array>
	</dict>
	<key>Q3</key>
	<dict>
		<key>question</key>
		<string>Mon principal défaut.</string>
		<key>reponses</key>
		<array>
			<string>L’immodestie.</string>
			<string>La naïveté.</string>
			<string>Il paraît que je ne sens pas ma force.</string>
			<string>La brutalité.</string>
			<string></string>
			<string></string>
			<string>La comtesse, ma faiblesse.</string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
		</array>
	</dict>
	<key>Q4</key>
	<dict>
		<key>question</key>
		<string>Mon occupation préférée.</string>
		<key>reponses</key>
		<array>
			<string>Marcher sur les mains en récitant Homère dans le Grec.</string>
			<string>Lire des romans.</string>
			<string>La lutte gréco-romaine.</string>
			<string>Dépecer des chats.</string>
			<string></string>
			<string></string>
			<string>Réciter le code civil, en pensant au jugement dernier.</string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
		</array>
	</dict>
	<key>Q5</key>
	<dict>
		<key>question</key>
		<string>Mon rêve de bonheur.</string>
		<key>reponses</key>
		<array>
			<string>Aimer et me faire aimer.</string>
			<string>Epouser Raoul.</string>
			<string>Écraser la tête du jeune gringalet qui tourne autour de ma fille. Avec un seul poing.</string>
			<string>Une Smith &amp; Remington, calibre 6, à détente mexicaine.</string>
			<string></string>
			<string></string>
			<string>Résoudre l’énigme des moines.</string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
		</array>
	</dict>
	<key>Q6</key>
	<dict>
		<key>question</key>
		<string>Quel serait mon plus grand malheur.</string>
		<key>reponses</key>
		<array>
			<string>Perdre ma liberté.</string>
			<string>Ne pas épouser Raoul.</string>
			<string>Me faire voler par mes gens.</string>
			<string>Ne plus tuer.</string>
			<string></string>
			<string></string>
			<string>Échouer.</string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
		</array>
	</dict>
	<key>Q7</key>
	<dict>
		<key>question</key>
		<string>Ce que je voudrais être.</string>
		<key>reponses</key>
		<array>
			<string>Général ? Ministre ? Ambassadeur ? Arsène Lupin ?</string>
			<string>La femme de Raoul.</string>
			<string>Riche. On n’est jamais assez riche.</string>
			<string>Tranquille, si possible.</string>
			<string></string>
			<string></string>
			<string>Pape.</string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
		</array>
	</dict>
	<key>Q8</key>
	<dict>
		<key>question</key>
		<string>Mes héros dans la vie réelle.</string>
		<key>reponses</key>
		<array>
			<string>Papa.</string>
			<string>Le beau, l’intrépide Raoul d’Andrésy.</string>
			<string>Jules-Jacques-Philibert-Marie de Caux de Praslin-Chabrillac, comte de Fitz-Montguyon, troisième du nom.</string>
			<string>Mes chiens.</string>
			<string></string>
			<string></string>
			<string>Son éminence le cardinal de Richelieu. Louis XIII ne fut guère plus qu’une poupée entre ses mains…</string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
		</array>
	</dict>
	<key>Q9</key>
	<dict>
		<key>question</key>
		<string>Mes héroïnes dans la vie réelle</string>
		<key>reponses</key>
		<array>
			<string>Maman.</string>
			<string>L’infirmière Florence Nightingale.</string>
			<string>La reine Victoria.</string>
			<string>La flibustière Anne Bonny, une sacrée bonne femme.</string>
			<string></string>
			<string></string>
			<string>La machiavélique et maîtresse femme, Catherine de Médicis. Admirables, ces armoires à poison du château de Blois…</string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
		</array>
	</dict>
	<key>Q10</key>
	<dict>
		<key>question</key>
		<string>Mon héros dans l’histoire.</string>
		<key>reponses</key>
		<array>
			<string>Les canailles flamboyantes : Robin des bois, Cartouche, chef de bande à la cour des miracles, Mandrin, le bandit justicier !</string>
			<string>Sainte Blandine, jetée aux lions.</string>
			<string>Néron, très incompris.</string>
			<string>Brutus.</string>
			<string></string>
			<string></string>
			<string>Bernard Gui, auteur du fameux Manuel de l’Inquisiteur, en vente dans toutes les bonnes librairies.</string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
		</array>
	</dict>
	<key>Q11</key>
	<dict>
		<key>question</key>
		<string>Mon livre de chevet.</string>
		<key>reponses</key>
		<array>
			<string>Essai pratique et théorique sur le vélocipède, d’Alphonse Marchegay.</string>
			<string>J’hésite entre Mortel amour et La Roche sanglante (tome I. Fille de millionnaire, tome  II. Sans pitié).</string>
			<string>Armoiries, terriers et cartulaires de France, 11e édition augmentée.</string>
			<string>La Gazette illustrée du chien de chasse. Je suis abonné.</string>
			<string></string>
			<string></string>
			<string>La Bibliothèque des Croisades, en 16 volumes.</string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
		</array>
	</dict>
	<key>Q12</key>
	<dict>
		<key>question</key>
		<string>Comment j’aimerais mourir</string>
		<key>reponses</key>
		<array>
			<string>Glorieusement.</string>
			<string>Dans les bras de Raoul.</string>
			<string>Duc.</string>
			<string>Sans bavures.</string>
			<string></string>
			<string></string>
			<string>Entre la crosse et la mitre.</string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
		</array>
	</dict>
	<key>Q13</key>
	<dict>
		<key>question</key>
		<string>Fautes qui m’inspirent le plus d’indulgence.</string>
		<key>reponses</key>
		<array>
			<string>Les erreurs de jeunesse.</string>
			<string>Les faiblesses de Raoul.</string>
			<string>L’indulgence est une faiblesse.</string>
			<string>L’abus de bénédictine.</string>
			<string></string>
			<string></string>
			<string>Les miennes.</string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
		</array>
	</dict>
	<key>Q14</key>
	<dict>
		<key>question</key>
		<string>Ma devise</string>
		<key>reponses</key>
		<array>
			<string>Impossible n’est pas français !</string>
			<string>Celui qui m&apos;enflamme a le pouvoir de m&apos;éteindre.</string>
			<string>C’est comme ça, et pas autrement.</string>
			<string>Discute pas.</string>
			<string></string>
			<string></string>
			<string>Paris vaut bien une messe.</string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
		</array>
	</dict>
</dict>
</plist>
