<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>title</key>
	<string>Arsène Lupin a vingt ans</string>
	<key>subtitle</key>
	<string>Raoul d’Andrésy jeta sa bicyclette, après en avoir éteint la lanterne, derrière un talus rehaussé de broussailles.</string>
    <key>nexttitle</key>
    <string>Des heures s’écoulèrent</string>
</dict>
</plist>
