<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>places</key>
		<array>
			<integer>11</integer>
		</array>
		<key>chars</key>
		<array>
			<integer>0</integer>
			<integer>1</integer>
		</array>
		<key>title</key>
		<string>Arsène Lupin a vingt ans</string>
		<key>subtitle</key>
		<string>Paru le 10 décembre 1923</string>
		<key>pins</key>
		<array>
			<dict>
				<key>pid</key>
				<integer>1</integer>
				<key>cid</key>
				<integer>0</integer>
				<key>gender</key>
				<string>Male</string>
			</dict>
			<dict>
				<key>pid</key>
				<integer>19</integer>
				<key>cid</key>
				<integer>1</integer>
				<key>gender</key>
				<string>Female</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>places</key>
		<array>
			<integer>10</integer>
			<integer>11</integer>
		</array>
		<key>chars</key>
		<array>
			<integer>0</integer>
			<integer>1</integer>
			<integer>2</integer>
			<integer>3</integer>
		</array>
		<key>title</key>
		<string>A l&apos;ombre de l&apos;Aiguille</string>
		<key>subtitle</key>
		<string>Paru le 11 décembre 1923</string>
		<key>pins</key>
		<array>
			<dict>
				<key>pid</key>
				<integer>47</integer>
				<key>cid</key>
				<integer>2</integer>
				<key>gender</key>
				<string>Male</string>
			</dict>
			<dict>
				<key>pid</key>
				<integer>48</integer>
				<key>cid</key>
				<integer>3</integer>
				<key>gender</key>
				<string>Male</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>places</key>
		<array>
			<integer>11</integer>
		</array>
		<key>chars</key>
		<array>
			<integer>0</integer>
			<integer>2</integer>
			<integer>3</integer>
			<integer>4</integer>
			<integer>5</integer>
			<integer>6</integer>
			<integer>7</integer>
			<integer>8</integer>
			<integer>9</integer>
			<integer>10</integer>
		</array>
		<key>title</key>
		<string>Une conspiration</string>
		<key>subtitle</key>
		<string>Paru le 12 décembre 1923</string>
		<key>pins</key>
		<array>
			<dict>
				<key>pid</key>
				<integer>16</integer>
				<key>cid</key>
				<integer>3</integer>
				<key>gender</key>
				<string>Male</string>
			</dict>
			<dict>
				<key>pid</key>
				<integer>16</integer>
				<key>cid</key>
				<integer>4</integer>
				<key>gender</key>
				<string>Male</string>
			</dict>
			<dict>
				<key>pid</key>
				<integer>16</integer>
				<key>cid</key>
				<integer>5</integer>
				<key>gender</key>
				<string>Male</string>
			</dict>
			<dict>
				<key>pid</key>
				<integer>18</integer>
				<key>cid</key>
				<integer>6</integer>
				<key>gender</key>
				<string>Male</string>
			</dict>
			<dict>
				<key>pid</key>
				<integer>21</integer>
				<key>cid</key>
				<integer>7</integer>
				<key>gender</key>
				<string>Male</string>
			</dict>
			<dict>
				<key>pid</key>
				<integer>36</integer>
				<key>cid</key>
				<integer>8</integer>
				<key>gender</key>
				<string>Male</string>
			</dict>
			<dict>
				<key>pid</key>
				<integer>36</integer>
				<key>cid</key>
				<integer>9</integer>
				<key>gender</key>
				<string>Male</string>
			</dict>
			<dict>
				<key>pid</key>
				<integer>63</integer>
				<key>cid</key>
				<integer>10</integer>
				<key>gender</key>
				<string>Female</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>chars</key>
		<array>
			<integer>0</integer>
			<integer>2</integer>
			<integer>3</integer>
			<integer>4</integer>
			<integer>5</integer>
			<integer>6</integer>
			<integer>7</integer>
			<integer>8</integer>
			<integer>9</integer>
			<integer>10</integer>
		</array>
		<key>places</key>
		<array>
			<integer>11</integer>
		</array>
		<key>title</key>
		<string>Joséphine Balsamo, née en 1788…</string>
		<key>subtitle</key>
		<string>Paru le 13 décembre 1923</string>
	</dict>
	<dict>
		<key>chars</key>
		<array>
			<integer>0</integer>
			<integer>2</integer>
			<integer>3</integer>
			<integer>4</integer>
			<integer>5</integer>
			<integer>6</integer>
			<integer>7</integer>
			<integer>8</integer>
			<integer>9</integer>
			<integer>10</integer>
		</array>
		<key>places</key>
		<array>
			<integer>11</integer>
		</array>
		<key>title</key>
		<string>Les trois portraits</string>
		<key>subtitle</key>
		<string>Paru le 14 décembre 1923</string>
	</dict>
	<dict>
		<key>chars</key>
		<array>
			<integer>0</integer>
			<integer>2</integer>
			<integer>3</integer>
			<integer>4</integer>
			<integer>5</integer>
			<integer>6</integer>
			<integer>7</integer>
			<integer>8</integer>
			<integer>9</integer>
			<integer>10</integer>
		</array>
		<key>places</key>
		<array>
			<integer>11</integer>
		</array>
		<key>title</key>
		<string>Un ange de mort</string>
		<key>subtitle</key>
		<string>Paru le 15 décembre 1923</string>
	</dict>
	<dict>
		<key>chars</key>
		<array>
			<integer>0</integer>
			<integer>2</integer>
			<integer>3</integer>
			<integer>4</integer>
			<integer>5</integer>
			<integer>6</integer>
			<integer>7</integer>
			<integer>8</integer>
			<integer>9</integer>
			<integer>10</integer>
		</array>
		<key>places</key>
		<array>
			<integer>11</integer>
		</array>
		<key>title</key>
		<string>Un tribunal d&apos;inquisition</string>
		<key>subtitle</key>
		<string>Paru le 16 décembre 1923</string>
	</dict>
	<dict>
		<key>chars</key>
		<array>
			<integer>0</integer>
			<integer>2</integer>
			<integer>3</integer>
			<integer>4</integer>
			<integer>5</integer>
			<integer>6</integer>
			<integer>7</integer>
			<integer>8</integer>
			<integer>9</integer>
			<integer>10</integer>
		</array>
		<key>places</key>
		<array>
			<integer>11</integer>
		</array>
		<key>title</key>
		<string>Passion fatale</string>
		<key>subtitle</key>
		<string>Paru le 17 décembre 1923</string>
	</dict>
	<dict>
		<key>chars</key>
		<array>
			<integer>0</integer>
			<integer>2</integer>
			<integer>3</integer>
			<integer>4</integer>
			<integer>5</integer>
			<integer>6</integer>
			<integer>7</integer>
			<integer>8</integer>
			<integer>9</integer>
			<integer>10</integer>
		</array>
		<key>places</key>
		<array>
			<integer>11</integer>
		</array>
		<key>title</key>
		<string>La sentence</string>
		<key>subtitle</key>
		<string>Paru le 18 décembre 1923</string>
	</dict>
	<dict>
		<key>chars</key>
		<array>
			<integer>2</integer>
			<integer>3</integer>
			<integer>4</integer>
			<integer>8</integer>
			<integer>9</integer>
			<integer>10</integer>
		</array>
		<key>places</key>
		<array>
			<integer>10</integer>
		</array>
		<key>title</key>
		<string>La barque qui coule</string>
		<key>subtitle</key>
		<string>Paru le 19 décembre 1923</string>
	</dict>
	<dict>
		<key>chars</key>
		<array>
			<integer>0</integer>
			<integer>2</integer>
			<integer>3</integer>
			<integer>10</integer>
		</array>
		<key>places</key>
		<array>
			<integer>10</integer>
		</array>
		<key>title</key>
		<string>Une femme à la mer</string>
		<key>subtitle</key>
		<string>Paru le 20 décembre 1923</string>
	</dict>
	<dict>
		<key>chars</key>
		<array>
			<integer>0</integer>
			<integer>10</integer>
		</array>
		<key>places</key>
		<array>
			<integer>10</integer>
		</array>
		<key>title</key>
		<string>La belle endormie</string>
		<key>subtitle</key>
		<string>Paru le 21 décembre 1923</string>
	</dict>
	<dict>
		<key>chars</key>
		<array>
			<integer>0</integer>
			<integer>1</integer>
			<integer>2</integer>
			<integer>3</integer>
			<integer>4</integer>
			<integer>6</integer>
		</array>
		<key>places</key>
		<array>
			<integer>18</integer>
		</array>
		<key>title</key>
		<string>L&apos;inconsolée</string>
		<key>subtitle</key>
		<string>Paru le 22 décembre 1923</string>
	</dict>
	<dict>
		<key>pins</key>
		<array>
			<dict>
				<key>pid</key>
				<integer>15</integer>
				<key>cid</key>
				<integer>11</integer>
				<key>gender</key>
				<string>Male</string>
			</dict>
		</array>
		<key>chars</key>
		<array>
			<integer>0</integer>
			<integer>2</integer>
			<integer>3</integer>
			<integer>4</integer>
			<integer>6</integer>
			<integer>10</integer>
			<integer>11</integer>
		</array>
		<key>places</key>
		<array>
			<integer>18</integer>
		</array>
		<key>title</key>
		<string>Une des sept branches</string>
		<key>subtitle</key>
		<string>Paru le 23 décembre 1923</string>
	</dict>
	<dict>
		<key>pins</key>
		<array>
			<dict>
				<key>pid</key>
				<integer>67</integer>
				<key>cid</key>
				<integer>13</integer>
				<key>gender</key>
				<string>Male</string>
			</dict>
			<dict>
				<key>pid</key>
				<integer>43</integer>
				<key>cid</key>
				<integer>12</integer>
				<key>gender</key>
				<string>Female</string>
			</dict>
		</array>
		<key>chars</key>
		<array>
			<integer>0</integer>
			<integer>10</integer>
			<integer>11</integer>
			<integer>12</integer>
			<integer>13</integer>
		</array>
		<key>places</key>
		<array>
			<integer>17</integer>
			<integer>19</integer>
		</array>
		<key>title</key>
		<string>Policiers et gendarmes</string>
		<key>subtitle</key>
		<string>Paru le 24 décembre 1923</string>
	</dict>
	<dict>
		<key>chars</key>
		<array>
			<integer>0</integer>
			<integer>10</integer>
			<integer>11</integer>
			<integer>13</integer>
		</array>
		<key>places</key>
		<array>
			<integer>17</integer>
		</array>
		<key>title</key>
		<string>Cavale et travestissement</string>
		<key>subtitle</key>
		<string>Paru le 25 décembre 1923</string>
	</dict>
	<dict>
		<key>chars</key>
		<array>
			<integer>0</integer>
			<integer>10</integer>
		</array>
		<key>places</key>
		<array>
			<integer>17</integer>
		</array>
		<key>title</key>
		<string>La comtesse lève le voile</string>
		<key>subtitle</key>
		<string>Paru le 26 décembre 1923</string>
	</dict>
	<dict>
		<key>pins</key>
		<array>
			<dict>
				<key>pid</key>
				<integer>46</integer>
				<key>cid</key>
				<integer>14</integer>
				<key>gender</key>
				<string>Female</string>
			</dict>
		</array>
		<key>chars</key>
		<array>
			<integer>0</integer>
			<integer>10</integer>
			<integer>14</integer>
		</array>
		<key>places</key>
		<array>
			<integer>0</integer>
			<integer>4</integer>
			<integer>12</integer>
			<integer>14</integer>
			<integer>15</integer>
		</array>
		<key>title</key>
		<string>Les délices de Capoue</string>
		<key>subtitle</key>
		<string>Paru le 27 décembre 1923</string>
	</dict>
	<dict>
		<key>chars</key>
		<array>
			<integer>0</integer>
			<integer>2</integer>
			<integer>3</integer>
			<integer>6</integer>
			<integer>10</integer>
			<integer>11</integer>
		</array>
		<key>places</key>
		<array>
			<integer>13</integer>
		</array>
		<key>title</key>
		<string>Monte-en-l’air et rats d&apos;hôtels</string>
		<key>subtitle</key>
		<string>Paru le 28 décembre 1923</string>
	</dict>
	<dict>
		<key>pins</key>
		<array>
			<dict>
				<key>pid</key>
				<integer>14</integer>
				<key>cid</key>
				<integer>16</integer>
				<key>gender</key>
				<string>Female</string>
			</dict>
			<dict>
				<key>pid</key>
				<integer>10</integer>
				<key>cid</key>
				<integer>15</integer>
				<key>gender</key>
				<string>Female</string>
			</dict>
		</array>
		<key>chars</key>
		<array>
			<integer>0</integer>
			<integer>10</integer>
			<integer>11</integer>
			<integer>15</integer>
			<integer>16</integer>
		</array>
		<key>places</key>
		<array>
			<integer>13</integer>
		</array>
		<key>title</key>
		<string>Une revue aux Variétés</string>
		<key>subtitle</key>
		<string>Paru le 29 décembre 1923</string>
	</dict>
	<dict>
		<key>pins</key>
		<array>
			<dict>
				<key>pid</key>
				<integer>9</integer>
				<key>cid</key>
				<integer>17</integer>
				<key>gender</key>
				<string>Male</string>
			</dict>
		</array>
		<key>chars</key>
		<array>
			<integer>0</integer>
			<integer>10</integer>
			<integer>11</integer>
			<integer>15</integer>
			<integer>16</integer>
			<integer>17</integer>
		</array>
		<key>places</key>
		<array>
			<integer>13</integer>
		</array>
		<key>title</key>
		<string>Coup de théâtre</string>
		<key>subtitle</key>
		<string>Paru le 30 décembre 1923</string>
	</dict>
	<dict>
		<key>chars</key>
		<array>
			<integer>0</integer>
			<integer>10</integer>
		</array>
		<key>places</key>
		<array>
			<integer>13</integer>
		</array>
		<key>title</key>
		<string>Deux Volontés</string>
		<key>subtitle</key>
		<string>Paru le 31 décembre 1923</string>
	</dict>
	<dict>
		<key>chars</key>
		<array>
			<integer>0</integer>
			<integer>10</integer>
		</array>
		<key>places</key>
		<array>
			<integer>13</integer>
		</array>
		<key>title</key>
		<string>Le secret du chevalier</string>
		<key>subtitle</key>
		<string>Paru le 1er janvier 1924</string>
	</dict>
	<dict>
		<key>chars</key>
		<array>
			<integer>0</integer>
			<integer>10</integer>
		</array>
		<key>places</key>
		<array>
			<integer>13</integer>
		</array>
		<key>title</key>
		<string>Les mystères du pays de Caux</string>
		<key>subtitle</key>
		<string>Paru le 2 janvier 1924</string>
	</dict>
	<dict>
		<key>chars</key>
		<array>
			<integer>0</integer>
			<integer>10</integer>
			<integer>11</integer>
			<integer>15</integer>
			<integer>16</integer>
		</array>
		<key>places</key>
		<array>
			<integer>13</integer>
		</array>
		<key>title</key>
		<string>La roche tarpéienne</string>
		<key>subtitle</key>
		<string>Paru le 3 janvier 1924</string>
	</dict>
	<dict>
		<key>chars</key>
		<array>
			<integer>0</integer>
			<integer>2</integer>
			<integer>3</integer>
			<integer>6</integer>
		</array>
		<key>places</key>
		<array>
			<integer>13</integer>
		</array>
		<key>title</key>
		<string>Raoul contre Beaumagnan</string>
		<key>subtitle</key>
		<string>Paru le 4 janvier 1924</string>
	</dict>
	<dict>
		<key>chars</key>
		<array>
			<integer>0</integer>
			<integer>2</integer>
			<integer>3</integer>
			<integer>6</integer>
		</array>
		<key>places</key>
		<array>
			<integer>13</integer>
		</array>
		<key>title</key>
		<string>Une lettre compromettante</string>
		<key>subtitle</key>
		<string>Paru le 5 janvier 1924</string>
	</dict>
	<dict>
		<key>chars</key>
		<array>
			<integer>0</integer>
			<integer>2</integer>
			<integer>3</integer>
			<integer>6</integer>
			<integer>10</integer>
		</array>
		<key>places</key>
		<array>
			<integer>13</integer>
		</array>
		<key>title</key>
		<string>Un vieux coffret de bois</string>
		<key>subtitle</key>
		<string>Paru le 6 janvier 1924</string>
	</dict>
	<dict>
		<key>chars</key>
		<array>
			<integer>0</integer>
			<integer>10</integer>
		</array>
		<key>places</key>
		<array>
			<integer>8</integer>
			<integer>13</integer>
		</array>
		<key>title</key>
		<string>Guet-apens</string>
		<key>subtitle</key>
		<string>Paru le 7 janvier 1924</string>
	</dict>
	<dict>
		<key>chars</key>
		<array>
			<integer>0</integer>
			<integer>10</integer>
			<integer>11</integer>
		</array>
		<key>places</key>
		<array>
			<integer>8</integer>
			<integer>15</integer>
			<integer>20</integer>
		</array>
		<key>title</key>
		<string>Passion criminelle</string>
		<key>subtitle</key>
		<string>Paru le 8 janvier 1924</string>
	</dict>
	<dict>
		<key>pins</key>
		<array>
			<dict>
				<key>pid</key>
				<integer>37</integer>
				<key>cid</key>
				<integer>18</integer>
				<key>gender</key>
				<string>Female</string>
			</dict>
		</array>
		<key>chars</key>
		<array>
			<integer>0</integer>
			<integer>10</integer>
			<integer>11</integer>
		</array>
		<key>places</key>
		<array>
			<integer>9</integer>
		</array>
		<key>title</key>
		<string>L&apos;interrogatoire</string>
		<key>subtitle</key>
		<string>Paru le 9 janvier 1924</string>
	</dict>
	<dict>
		<key>chars</key>
		<array>
			<integer>0</integer>
			<integer>10</integer>
			<integer>11</integer>
		</array>
		<key>places</key>
		<array>
			<integer>9</integer>
		</array>
		<key>title</key>
		<string>La main mutilée</string>
		<key>subtitle</key>
		<string>Paru le 10 janvier 1924</string>
	</dict>
	<dict>
		<key>chars</key>
		<array>
			<integer>0</integer>
			<integer>10</integer>
			<integer>11</integer>
		</array>
		<key>places</key>
		<array>
			<integer>9</integer>
			<integer>20</integer>
		</array>
		<key>title</key>
		<string>Remords tardifs</string>
		<key>subtitle</key>
		<string>Paru le 11 janvier 1924</string>
	</dict>
	<dict>
		<key>chars</key>
		<array>
			<integer>0</integer>
			<integer>6</integer>
		</array>
		<key>places</key>
		<array>
			<integer>16</integer>
			<integer>20</integer>
		</array>
		<key>title</key>
		<string>Le vieux phare</string>
		<key>subtitle</key>
		<string>Paru le 12 janvier 1924</string>
	</dict>
	<dict>
		<key>chars</key>
		<array>
			<integer>0</integer>
			<integer>6</integer>
			<integer>10</integer>
		</array>
		<key>places</key>
		<array>
			<integer>16</integer>
		</array>
		<key>title</key>
		<string>Au bord de l&apos;abîme</string>
		<key>subtitle</key>
		<string>Paru le 13 janvier 1924</string>
	</dict>
	<dict>
		<key>chars</key>
		<array>
			<integer>0</integer>
			<integer>6</integer>
			<integer>10</integer>
			<integer>11</integer>
		</array>
		<key>places</key>
		<array>
			<integer>16</integer>
		</array>
		<key>title</key>
		<string>Rivales</string>
		<key>subtitle</key>
		<string>Paru le 14 janvier 1924</string>
	</dict>
	<dict>
		<key>chars</key>
		<array>
			<integer>0</integer>
			<integer>1</integer>
			<integer>6</integer>
			<integer>10</integer>
			<integer>11</integer>
		</array>
		<key>places</key>
		<array>
			<integer>16</integer>
		</array>
		<key>title</key>
		<string>Démence et génie</string>
		<key>subtitle</key>
		<string>Paru le 15 janvier 1924</string>
	</dict>
	<dict>
		<key>chars</key>
		<array>
			<integer>0</integer>
			<integer>1</integer>
			<integer>10</integer>
		</array>
		<key>places</key>
		<array>
			<integer>16</integer>
		</array>
		<key>title</key>
		<string>Il y a vingt-quatre ans, deux hommes fuyaient...</string>
		<key>subtitle</key>
		<string>Paru le 16 janvier 1924</string>
	</dict>
	<dict>
		<key>chars</key>
		<array>
			<integer>0</integer>
			<integer>1</integer>
			<integer>10</integer>
			<integer>11</integer>
		</array>
		<key>places</key>
		<array>
			<integer>16</integer>
		</array>
		<key>title</key>
		<string>Ad lapidem currebat olim regina…</string>
		<key>subtitle</key>
		<string>Paru le 17 janvier 1924</string>
	</dict>
	<dict>
		<key>chars</key>
		<array>
			<integer>0</integer>
			<integer>1</integer>
			<integer>10</integer>
			<integer>11</integer>
		</array>
		<key>places</key>
		<array>
			<integer>16</integer>
		</array>
		<key>title</key>
		<string>Deux ennemis</string>
		<key>subtitle</key>
		<string>Paru le 18 janvier 1924</string>
	</dict>
	<dict>
		<key>chars</key>
		<array>
			<integer>0</integer>
			<integer>10</integer>
		</array>
		<key>places</key>
		<array>
			<integer>16</integer>
		</array>
		<key>title</key>
		<string>Alcor</string>
		<key>subtitle</key>
		<string>Paru le 19 janvier 1924</string>
	</dict>
	<dict>
		<key>chars</key>
		<array>
			<integer>0</integer>
			<integer>6</integer>
			<integer>10</integer>
			<integer>11</integer>
			<integer>17</integer>
		</array>
		<key>places</key>
		<array>
			<integer>16</integer>
		</array>
		<key>title</key>
		<string>Le coffre-fort des moines</string>
		<key>subtitle</key>
		<string>Paru le 20 janvier 1924</string>
	</dict>
	<dict>
		<key>chars</key>
		<array>
			<integer>0</integer>
			<integer>1</integer>
			<integer>6</integer>
			<integer>11</integer>
		</array>
		<key>places</key>
		<array>
			<integer>16</integer>
		</array>
		<key>title</key>
		<string>Héroïque enfant</string>
		<key>subtitle</key>
		<string>Paru le 21 janvier 1924</string>
	</dict>
	<dict>
		<key>pins</key>
		<array>
			<dict>
				<key>pid</key>
				<integer>23</integer>
				<key>cid</key>
				<integer>19</integer>
				<key>gender</key>
				<string>Male</string>
			</dict>
		</array>
		<key>chars</key>
		<array>
			<integer>0</integer>
			<integer>2</integer>
			<integer>3</integer>
			<integer>6</integer>
			<integer>19</integer>
		</array>
		<key>places</key>
		<array>
			<integer>3</integer>
			<integer>7</integer>
			<integer>20</integer>
			<integer>21</integer>
		</array>
		<key>title</key>
		<string>Le dolmen de la reine</string>
		<key>subtitle</key>
		<string>Paru le 22 janvier 1924</string>
	</dict>
	<dict>
		<key>chars</key>
		<array>
			<integer>0</integer>
			<integer>2</integer>
			<integer>3</integer>
			<integer>6</integer>
		</array>
		<key>places</key>
		<array>
			<integer>21</integer>
		</array>
		<key>title</key>
		<string>Poussières et cendres</string>
		<key>subtitle</key>
		<string>Paru le 23 janvier 1924</string>
	</dict>
	<dict>
		<key>chars</key>
		<array>
			<integer>0</integer>
			<integer>2</integer>
			<integer>10</integer>
			<integer>11</integer>
		</array>
		<key>places</key>
		<array>
			<integer>10</integer>
			<integer>11</integer>
		</array>
		<key>title</key>
		<string>L&apos;infernale créature</string>
		<key>subtitle</key>
		<string>Paru le 24 janvier 1924</string>
	</dict>
	<dict>
		<key>chars</key>
		<array>
			<integer>0</integer>
			<integer>10</integer>
			<integer>11</integer>
		</array>
		<key>places</key>
		<array>
			<integer>11</integer>
		</array>
		<key>title</key>
		<string>Le piège se resserre</string>
		<key>subtitle</key>
		<string>Paru le 25 janvier 1924</string>
	</dict>
	<dict>
		<key>chars</key>
		<array>
			<integer>0</integer>
			<integer>10</integer>
			<integer>11</integer>
			<integer>17</integer>
		</array>
		<key>places</key>
		<array>
			<integer>11</integer>
		</array>
		<key>title</key>
		<string>Une apparition</string>
		<key>subtitle</key>
		<string>Paru le 26 janvier 1924</string>
	</dict>
	<dict>
		<key>chars</key>
		<array>
			<integer>0</integer>
			<integer>10</integer>
		</array>
		<key>places</key>
		<array>
			<integer>11</integer>
		</array>
		<key>title</key>
		<string>Trois coups de poignards</string>
		<key>subtitle</key>
		<string>Paru le 27 janvier 1924</string>
	</dict>
	<dict>
		<key>chars</key>
		<array>
			<integer>0</integer>
			<integer>10</integer>
		</array>
		<key>places</key>
		<array>
			<integer>11</integer>
		</array>
		<key>title</key>
		<string>Élevée dans le crime</string>
		<key>subtitle</key>
		<string>Paru le 28 janvier 1924</string>
	</dict>
	<dict>
		<key>chars</key>
		<array>
			<integer>0</integer>
			<integer>10</integer>
		</array>
		<key>places</key>
		<array>
			<integer>11</integer>
		</array>
		<key>title</key>
		<string>Raoul triomphe ou la défaite du vice</string>
		<key>subtitle</key>
		<string>Paru le 29 janvier 1924</string>
	</dict>
	<dict>
		<key>chars</key>
		<array>
			<integer>0</integer>
			<integer>1</integer>
			<integer>10</integer>
		</array>
		<key>places</key>
		<array>
			<integer>11</integer>
		</array>
		<key>title</key>
		<string>Épilogue</string>
		<key>subtitle</key>
		<string>Paru le 30 janvier 1924</string>
	</dict>
</array>
</plist>
