<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>epid</key>
			<integer>3</integer>
			<key>para</key>
			<real>0.333</real>
			<key>toast</key>
			<true/>
			<key>msg</key>
			<string>Mince ! C’est une vieille, alors !</string>
			<key>msg_ref</key>
			<string>« la créature infernale » devait avoir dépassé la cinquantaine.</string>
		</dict>
		<dict>
			<key>epid</key>
			<integer>11</integer>
			<key>para</key>
			<real>0.333</real>
			<key>toast</key>
			<true/>
			<key>msg</key>
			<string>D’après Comment réparer une barque avec une chaussette et une flûte à bec, d’Angus Mc Gyver (traduit de l’écossais par Louis Lépine)</string>
			<key>msg_ref</key>
			<string>J’ai bouché le trou avec un morceau de bois coiffé d’un chiffon.</string>
		</dict>
		<dict>
			<key>epid</key>
			<integer>14</integer>
			<key>para</key>
			<real>0.9</real>
			<key>toast</key>
			<true/>
			<key>msg</key>
			<string>Raoul d’Andrésy vous recommande : ‘Essai sur la brique quadrangulaire en pays de Caux’, Société Savante de Motteville, 1889.</string>
			<key>msg_ref</key>
			<string>Parce que les briques des onze autres sont de dimensions abandonnées depuis deux cents ans.</string>
		</dict>
		<dict>
			<key>epid</key>
			<integer>19</integer>
			<key>para</key>
			<real>0.7</real>
			<key>toast</key>
			<true/>
			<key>msg</key>
			<string>C&apos;est à lire, je vous le recommande : Théophraste Lupin, ‘Le Ju-jitsu facile’, Paris, 1867.</string>
			<key>msg_ref</key>
			<string>Il me vient des instructions posthumes d&apos;un sieur Théophraste Lupin, chapitre des méthodes japonaises.</string>
		</dict>
		<dict>
			<key>epid</key>
			<integer>21</integer>
			<key>para</key>
			<real>0.9</real>
			<key>toast</key>
			<true/>
			<key>msg</key>
			<string>Donc, un prisonnier pendant la Terreur confie un secret au chevalier des Aubes, qui le rapporte 72 ans après au cardinal de Bonnechose…</string>
			<key>msg_ref</key>
			<string>Tu sauras, mon enfant, &quot;garder, quoi qu&apos;il arrive, un secret d&apos;où dépendent les intérêts les plus graves.&quot;</string>
		</dict>
		<dict>
			<key>epid</key>
			<integer>32</integer>
			<key>para</key>
			<real>0.12</real>
			<key>toast</key>
			<true/>
			<key>msg</key>
			<string>Mise à jour de mon statut : célibataire!</string>
			<key>msg_ref</key>
			<string>&quot;Adieu, Josine.&quot;</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>epid</key>
			<integer>17</integer>
			<key>para</key>
			<real>0.25</real>
			<key>toast</key>
			<true/>
			<key>msg</key>
			<string>Non mon Raoul, non!</string>
			<key>msg_ref</key>
			<string>Elle attirait la tête du jeune homme, et leurs bouches s&apos;unirent.</string>
		</dict>
		<dict>
			<key>epid</key>
			<integer>12</integer>
			<key>para</key>
			<real>0.1</real>
			<key>toast</key>
			<true/>
			<key>msg</key>
			<string>Que je suis malheureuse! J&apos;en ai la nausée!</string>
			<key>msg_ref</key>
			<string>&quot;Il reconnaissait Clarisse d&apos;Etigues.&quot;</string>
		</dict>
		<dict>
			<key>epid</key>
			<integer>43</integer>
			<key>para</key>
			<real>0.2</real>
			<key>toast</key>
			<false/>
			<key>msg</key>
			<string>Mise à jour de mon statut: je ne suis plus amie avec Brigitte Rousselin.</string>
			<key>msg_ref</key>
			<string>&quot;Il renonça instantanément à retrouver Clarisse.&quot;</string>
		</dict>
		<dict>
			<key>epid</key>
			<integer>35</integer>
			<key>para</key>
			<real>0.45</real>
			<key>toast</key>
			<true/>
			<key>msg</key>
			<string>&quot;Je cherche une bonne couturière pour agrandir mes robes. Réponse en billet privé svp.&quot;</string>
			<key>msg_ref</key>
			<string>&quot;Je dis ce qui est... Ce n&apos;est pas l&apos;amante, qui s&apos;est confessée, c&apos;est la mère...&quot;</string>
		</dict>
		<dict>
			<key>epid</key>
			<integer>51</integer>
			<key>para</key>
			<real>0.35</real>
			<key>toast</key>
			<true/>
			<key>msg</key>
			<string>Mise à jour de mon statut : mariée à Raoul d&apos;Andrésy.</string>
			<key>msg_ref</key>
			<string>&quot;Le rôle de Raoul, dans cette affaire, ne pouvait être soupçonné, et son mariage passa inaperçu.&quot;</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>epid</key>
			<integer>26</integer>
			<key>para</key>
			<real>0.5</real>
			<key>toast</key>
			<true/>
			<key>msg</key>
			<string>Oui ! Qu’il donne une preuve ! Ou je lui brûle la cervelle!</string>
			<key>msg_ref</key>
			<string>&quot;La preuve! La preuve!&quot;</string>
		</dict>
		<dict>
			<key>epid</key>
			<integer>1</integer>
			<key>para</key>
			<real>0.4</real>
			<key>toast</key>
			<true/>
			<key>msg</key>
			<string>J’en étais sûr… Il en veut à sa dot.</string>
			<key>msg_ref</key>
			<string>&quot;Parce que mon père n&apos;était qu&apos;un roturier, pauvre comme Job...&quot;</string>
		</dict>
		<dict>
			<key>epid</key>
			<integer>35</integer>
			<key>para</key>
			<real>0.2</real>
			<key>toast</key>
			<true/>
			<key>msg</key>
			<string>Désiré ! je t’avais pourtant dit de ne pas le répéter !</string>
			<key>msg_ref</key>
			<string>&quot;la chose m’a été confiée, avant-hier soir, par Godefroy d’Étigues.&quot;</string>
		</dict>
		<dict>
			<key>epid</key>
			<integer>8</integer>
			<key>para</key>
			<real>0.8</real>
			<key>toast</key>
			<true/>
			<key>msg</key>
			<string>Je vous recommande à ce sujet ‘Les Sermons de Monseigneur d’Ambricourt’, 1893. Très beaux passages sur le jugement dernier.</string>
			<key>msg_ref</key>
			<string>&quot;Il y a des moments, murmura-t-il, où il faut prier Dieu comme si l’on devait mourir la  nuit même.&quot;</string>
		</dict>
		<dict>
			<key>epid</key>
			<integer>37</integer>
			<key>para</key>
			<real>0.65</real>
			<key>toast</key>
			<true/>
			<key>msg</key>
			<string>Il faut bien vivre. Disparus, les impôts seigneuriaux et leur poésie sonnante et trébuchante : le cens, l’abeillage, le champart...</string>
			<key>msg_ref</key>
			<string>&quot;Ses richesses, son château, ses chevaux, tout cela provient du crime.&quot;</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>epid</key>
			<integer>10</integer>
			<key>para</key>
			<real>0.9</real>
			<key>toast</key>
			<true/>
			<key>msg</key>
			<string>Mise à jour de mon statut : a un penchant certain pour Joséphine Balsamo</string>
			<key>msg_ref</key>
			<string>&quot;Elle est si belle… belle comme la Vierge…&quot;</string>
		</dict>
		<dict>
			<key>epid</key>
			<integer>9</integer>
			<key>para</key>
			<real>0.55</real>
			<key>toast</key>
			<true/>
			<key>msg</key>
			<string>Vivement qu’on en finisse. J’ai soif.</string>
			<key>msg_ref</key>
			<string>&quot;Bennetot grogna, d’un air bourru.&quot;</string>
		</dict>
		<dict>
			<key>epid</key>
			<integer>40</integer>
			<key>para</key>
			<real>0.45</real>
			<key>toast</key>
			<true/>
			<key>msg</key>
			<string>C’est qui, cette Regina ?</string>
			<key>msg_ref</key>
			<string>&quot;Ad lapidem currebat olim regina&quot;</string>
		</dict>
		<dict>
			<key>epid</key>
			<integer>51</integer>
			<key>para</key>
			<real>0.5</real>
			<key>toast</key>
			<true/>
			<key>msg</key>
			<string>Godefroy, ça te dirait une partie de pêche?</string>
			<key>msg_ref</key>
			<string>&quot;Deux événements marquèrent cette époque.&quot;</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>epid</key>
			<integer>7</integer>
			<key>para</key>
			<real>0.7</real>
			<key>toast</key>
			<true/>
			<key>msg</key>
			<string>Joli ! Je commencerais bien une collection de miniatures représentant Joséphine de Cagliostro.</string>
			<key>msg_ref</key>
			<string>&quot;C’est une copie d’un fragment de la Sainte Famille.&quot;</string>
		</dict>
		<dict>
			<key>epid</key>
			<integer>13</integer>
			<key>para</key>
			<real>0.1</real>
			<key>toast</key>
			<true/>
			<key>msg</key>
			<string>Un si beau chandelier ! J’aurais pu commencer une collection…</string>
			<key>msg_ref</key>
			<string>&quot;Raoul put extraire sans peine une tige de métal rongé, qui était bien une branche de ces grands chandeliers liturgiques que l’on voit sur certains autels.&quot;</string>
		</dict>
		<dict>
			<key>epid</key>
			<integer>18</integer>
			<key>para</key>
			<real>0.65</real>
			<key>toast</key>
			<true/>
			<key>msg</key>
			<string>Mon canard ! Ils ont rôti mon canard de collection ! Un authentique Vauquerville à huppe bleue !!!</string>
			<key>msg_ref</key>
			<string>&quot;À chaque épreuve, il se découvrait des talents imprévus et des ressources qu’il ignorait.&quot;</string>
		</dict>
		<dict>
			<key>epid</key>
			<integer>24</integer>
			<key>para</key>
			<real>0.6</real>
			<key>toast</key>
			<true/>
			<key>msg</key>
			<string>Sept bagues médiévales trouvées pour rien dans la loge d’une danseuse du théâtre des Variétés. Mieux que les enchères à Drouot !</string>
			<key>msg_ref</key>
			<string>C’est un collectionneur. Je lui ai promis de lui rapporter les sept pierres aujourd’hui à trois heures afin qu’il reconstitue les bagues.</string>
		</dict>
		<dict>
			<key>epid</key>
			<integer>38</integer>
			<key>para</key>
			<real>0.2</real>
			<key>toast</key>
			<true/>
			<key>msg</key>
			<string>Et dire que j’ai toujours détesté les versions latines !</string>
			<key>msg_ref</key>
			<string>voilà exactement la phrase que j’ai déchiffrée… cinq mots latins…</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>epid</key>
			<integer>4</integer>
			<key>para</key>
			<real>0.35</real>
			<key>toast</key>
			<true/>
			<key>msg</key>
			<string>Juste ciel ! C’est donc à cette intriguante qu’on doit la perte de l’Alsace-Lorraine. Et dire que certains ont incriminé l’Etat-Major !</string>
			<key>msg_ref</key>
			<string>Je vous ai aperçue dans un café, assise devant une table, buvant et riant avec des officiers allemands.</string>
		</dict>
		<dict>
			<key>epid</key>
			<integer>39</integer>
			<key>para</key>
			<real>0.45</real>
			<key>toast</key>
			<true/>
			<key>msg</key>
			<string>Faiblesses ? Crises nerveuses ? Essayez la pâte Vaupalière ! De qualité supérieure, elle guérit les courbatures, l’insomnie, la tuberculose, la mauvaise haleine et les cors au pied !</string>
			<key>msg_ref</key>
			<string>Cagliostro faisait le mal par crise plutôt que par volonté – crise de démence où il y avait de l’hystérie et que suivait une sorte de lassitude, de courbature aussi bien morale que physique.</string>
		</dict>
		<dict>
			<key>epid</key>
			<integer>36</integer>
			<key>para</key>
			<real>0.2</real>
			<key>toast</key>
			<true/>
			<key>msg</key>
			<string>Décidemment, quelle maîtrise remarquable de l’emploi des narcotiques !</string>
			<key>msg_ref</key>
			<string>Ce n’est rien… à peine deux ou trois heures d’engourdissement…</string>
		</dict>
		<dict>
			<key>epid</key>
			<integer>49</integer>
			<key>para</key>
			<real>0.3</real>
			<key>toast</key>
			<true/>
			<key>msg</key>
			<string>Crises nerveuses ? Phobies ? Parents abusifs ? Le docteur S. Freud vous reçoit du lundi ou vendredi au 19 de la rue Berggasse. Sur rendez-vous.</string>
			<key>msg_ref</key>
			<string>Léonard l’avait dressée au crime ?</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>epid</key>
			<integer>4</integer>
			<key>para</key>
			<real>0.7</real>
			<key>toast</key>
			<true/>
			<key>msg</key>
			<string>L’assassinat du président Carnot, le suicide du général Boulanger, le vin bouchonné, c’est elle ! L’arnaque de Panama, l’affaire Dreyfus, les douillons trop cuits, c’est encore elle !</string>
			<key>msg_ref</key>
			<string></string>
		</dict>
		<dict>
			<key>epid</key>
			<integer>6</integer>
			<key>para</key>
			<real>0.8</real>
			<key>toast</key>
			<false/>
			<key>msg</key>
			<string>Mise à jour de ma situation amoureuse : c&apos;est &quot;filandreux&quot;!</string>
			<key>msg_ref</key>
			<string>Je courus chez un pharmacien et fis analyser les cachets. L’un d’eux contenait du poison, de quoi me foudroyer.</string>
		</dict>
		<dict>
			<key>epid</key>
			<integer>9</integer>
			<key>para</key>
			<real>0.4</real>
			<key>toast</key>
			<false/>
			<key>msg</key>
			<string>Ah bah merci ! La confiance règne…</string>
			<key>msg_ref</key>
			<string>Un jour ou l’autre, quand il n’aura plus besoin de nous, il nous tirera sa révérence, et l’on s’apercevra qu’il a escamoté l’affaire à son profit.</string>
		</dict>
		<dict>
			<key>epid</key>
			<integer>22</integer>
			<key>para</key>
			<real>0.95</real>
			<key>toast</key>
			<false/>
			<key>msg</key>
			<string>Oui, la bibliophilie est un aspect méconnu de ma personnalité. Je collectionne les premières éditions de L’Imitation de Jésus-Christ.</string>
			<key>msg_ref</key>
			<string>Trouvé par qui ? Par Beaumagnan.</string>
		</dict>
		<dict>
			<key>epid</key>
			<integer>25</integer>
			<key>para</key>
			<real>0.45</real>
			<key>toast</key>
			<false/>
			<key>msg</key>
			<string>Il ne manquerait qu’on me prête une liaison avec une danseuse de cancan !</string>
			<key>msg_ref</key>
			<string>Dans l’intention, monsieur, de poursuivre l’entretien que vous avez commencé hier soir, avec elle, au théâtre des Variétés.</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>epid</key>
			<integer>2</integer>
			<key>para</key>
			<real>0.8</real>
			<key>toast</key>
			<false/>
			<key>msg</key>
			<string>Ça fonctionne donc, ces crèmes de jeunesse ?</string>
			<key>msg_ref</key>
			<string>Elle a le même âge qu’il y a vingt-quatre ans !</string>
		</dict>
		<dict>
			<key>epid</key>
			<integer>2</integer>
			<key>para</key>
			<real>0.2</real>
			<key>toast</key>
			<false/>
			<key>msg</key>
			<string>Beaumagnan devrait porter plus de couleur. On dirait une chauve-souris.</string>
			<key>msg_ref</key>
			<string>Quelque chose de sévère et même d’ascétique dans ses manières comme dans son habillement, il avait l’air d’un personnage d’église.</string>
		</dict>
		<dict>
			<key>epid</key>
			<integer>34</integer>
			<key>para</key>
			<real>0.85</real>
			<key>toast</key>
			<false/>
			<key>msg</key>
			<string>C’est Reboux ou Carlier, la voilette brodée ?</string>
			<key>msg_ref</key>
			<string>Elle était coiffée d’une toque d’où pendait un voile à grosses fleurs brodées</string>
		</dict>
		<dict>
			<key>epid</key>
			<integer>44</integer>
			<key>para</key>
			<real>0.95</real>
			<key>toast</key>
			<false/>
			<key>msg</key>
			<string>Je cherche un quatrième pour le bridge de vendredi.</string>
			<key>msg_ref</key>
			<string>Les raisons de ce suicide sont absolument mystérieuses.</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>epid</key>
			<integer>24</integer>
			<key>para</key>
			<real>0.45</real>
			<key>toast</key>
			<false/>
			<key>msg</key>
			<string>Déception. Hippolyte Pédalier, blessé, ne pourra courir le Caudebec-Lillebonne.</string>
			<key>msg_ref</key>
			<string>À Lillebonne, entre Rouen et Le Havre.</string>
		</dict>
		<dict>
			<key>epid</key>
			<integer>29</integer>
			<key>para</key>
			<real>0.35</real>
			<key>toast</key>
			<false/>
			<key>msg</key>
			<string>La France – 38 millions d’habitants, 203 026 bicyclettes !</string>
			<key>msg_ref</key>
			<string>Il fit venir sa bicyclette et poussa jusqu’aux environs de Lillebonne.</string>
		</dict>
		<dict>
			<key>epid</key>
			<integer>41</integer>
			<key>para</key>
			<real>0.6</real>
			<key>toast</key>
			<false/>
			<key>msg</key>
			<string>Le Boxing Club de Doudeville devrait la nommer présidente d’honneur !</string>
			<key>msg_ref</key>
			<string>Simple engourdissement, pareil à celui que peut éprouver un boxeur atteint en quelque endroit sensible.</string>
		</dict>
		<dict>
			<key>epid</key>
			<integer>3</integer>
			<key>para</key>
			<real>0.17</real>
			<key>toast</key>
			<false/>
			<key>msg</key>
			<string>Si elle est vraiment devin, qu’elle nous dise sur qui parier pour le British Open de golf à Sandwich.</string>
			<key>msg_ref</key>
			<string>Avaient-ils retrouvé chez celle qui, suivant eux, se prétendait la fille de Cagliostro, les dons de clairvoyance et de divination?</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>epid</key>
			<integer>3</integer>
			<key>para</key>
			<real>0.97</real>
			<key>toast</key>
			<false/>
			<key>msg</key>
			<string>L’Italie, la France, la Russie ! Diantre, en voilà une voyageuse ! En même temps, si elle a 116 ans …</string>
			<key>msg_ref</key>
			<string>Le tsar Alexandre 1er recueille Josine et l’envoie en Russie.</string>
		</dict>
		<dict>
			<key>epid</key>
			<integer>12</integer>
			<key>para</key>
			<real>0.6</real>
			<key>toast</key>
			<false/>
			<key>msg</key>
			<string>C’est lent, ces voitures à cheval. Ce n’est pas avec ça que Jules de Dion aurait remporté le Paris-Rouen avec 3 minutes 30 d’avance sur la Peugeot d’Albert Lemaître !</string>
			<key>msg_ref</key>
			<string>Le lendemain matin, d’Ormont, Rolleville et Roux d’Estiers venaient chercher leurs deux amis en voiture, Raoul s’élança derrière eux.</string>
		</dict>
		<dict>
			<key>epid</key>
			<integer>44</integer>
			<key>para</key>
			<real>0.9</real>
			<key>toast</key>
			<false/>
			<key>msg</key>
			<string>Nom d’un chien. Ne me dites pas que c’est Beaumagnan le père !</string>
			<key>msg_ref</key>
			<string>Clarisse épousera d’Andrésy… je le veux…</string>
		</dict>
		<dict>
			<key>epid</key>
			<integer>39</integer>
			<key>para</key>
			<real>0.8</real>
			<key>toast</key>
			<false/>
			<key>msg</key>
			<string>Diantre, voilà une scène qui rendrait bien avec le kinétographe des frères Lumières : une caméra qui donne l’illusion du mouvement !</string>
			<key>msg_ref</key>
			<string>Il referma la porte derrière elle. Clarisse était sauvée.</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>epid</key>
			<integer>0</integer>
			<key>para</key>
			<integer>0</integer>
			<key>toast</key>
			<false/>
			<key>msg</key>
			<string>test</string>
		</dict>
		<dict>
			<key>epid</key>
			<integer>0</integer>
			<key>para</key>
			<integer>0</integer>
			<key>toast</key>
			<false/>
			<key>msg</key>
			<string>test</string>
		</dict>
		<dict>
			<key>epid</key>
			<integer>0</integer>
			<key>para</key>
			<integer>0</integer>
			<key>toast</key>
			<false/>
			<key>msg</key>
			<string>test</string>
		</dict>
		<dict>
			<key>epid</key>
			<integer>0</integer>
			<key>para</key>
			<integer>0</integer>
			<key>toast</key>
			<false/>
			<key>msg</key>
			<string>test</string>
		</dict>
		<dict>
			<key>epid</key>
			<integer>0</integer>
			<key>para</key>
			<integer>0</integer>
			<key>toast</key>
			<false/>
			<key>msg</key>
			<string>test</string>
		</dict>
		<dict>
			<key>epid</key>
			<integer>0</integer>
			<key>para</key>
			<integer>0</integer>
			<key>toast</key>
			<false/>
			<key>msg</key>
			<string>test</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>epid</key>
			<integer>0</integer>
			<key>para</key>
			<integer>0</integer>
			<key>toast</key>
			<false/>
			<key>msg</key>
			<string>test</string>
		</dict>
		<dict>
			<key>epid</key>
			<integer>0</integer>
			<key>para</key>
			<integer>0</integer>
			<key>toast</key>
			<false/>
			<key>msg</key>
			<string>test</string>
		</dict>
		<dict>
			<key>epid</key>
			<integer>0</integer>
			<key>para</key>
			<integer>0</integer>
			<key>toast</key>
			<false/>
			<key>msg</key>
			<string>test</string>
		</dict>
		<dict>
			<key>epid</key>
			<integer>0</integer>
			<key>para</key>
			<integer>0</integer>
			<key>toast</key>
			<false/>
			<key>msg</key>
			<string>test</string>
		</dict>
		<dict>
			<key>epid</key>
			<integer>0</integer>
			<key>para</key>
			<integer>0</integer>
			<key>toast</key>
			<false/>
			<key>msg</key>
			<string>test</string>
		</dict>
		<dict>
			<key>epid</key>
			<integer>0</integer>
			<key>para</key>
			<integer>0</integer>
			<key>toast</key>
			<false/>
			<key>msg</key>
			<string>test</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>epid</key>
			<integer>0</integer>
			<key>para</key>
			<integer>0</integer>
			<key>toast</key>
			<false/>
			<key>msg</key>
			<string>test</string>
		</dict>
		<dict>
			<key>epid</key>
			<integer>0</integer>
			<key>para</key>
			<integer>0</integer>
			<key>toast</key>
			<false/>
			<key>msg</key>
			<string>test</string>
		</dict>
		<dict>
			<key>epid</key>
			<integer>0</integer>
			<key>para</key>
			<integer>0</integer>
			<key>toast</key>
			<false/>
			<key>msg</key>
			<string>test</string>
		</dict>
		<dict>
			<key>epid</key>
			<integer>0</integer>
			<key>para</key>
			<integer>0</integer>
			<key>toast</key>
			<false/>
			<key>msg</key>
			<string>test</string>
		</dict>
		<dict>
			<key>epid</key>
			<integer>0</integer>
			<key>para</key>
			<integer>0</integer>
			<key>toast</key>
			<false/>
			<key>msg</key>
			<string>test</string>
		</dict>
		<dict>
			<key>epid</key>
			<integer>0</integer>
			<key>para</key>
			<integer>0</integer>
			<key>toast</key>
			<false/>
			<key>msg</key>
			<string>test</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>epid</key>
			<integer>0</integer>
			<key>para</key>
			<integer>0</integer>
			<key>toast</key>
			<false/>
			<key>msg</key>
			<string>test</string>
		</dict>
		<dict>
			<key>epid</key>
			<integer>0</integer>
			<key>para</key>
			<integer>0</integer>
			<key>toast</key>
			<false/>
			<key>msg</key>
			<string>test</string>
		</dict>
		<dict>
			<key>epid</key>
			<integer>0</integer>
			<key>para</key>
			<integer>0</integer>
			<key>toast</key>
			<false/>
			<key>msg</key>
			<string>test</string>
		</dict>
		<dict>
			<key>epid</key>
			<integer>0</integer>
			<key>para</key>
			<integer>0</integer>
			<key>toast</key>
			<false/>
			<key>msg</key>
			<string>test</string>
		</dict>
		<dict>
			<key>epid</key>
			<integer>0</integer>
			<key>para</key>
			<integer>0</integer>
			<key>toast</key>
			<false/>
			<key>msg</key>
			<string>test</string>
		</dict>
		<dict>
			<key>epid</key>
			<integer>0</integer>
			<key>para</key>
			<integer>0</integer>
			<key>toast</key>
			<false/>
			<key>msg</key>
			<string>test</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>epid</key>
			<integer>0</integer>
			<key>para</key>
			<integer>0</integer>
			<key>toast</key>
			<false/>
			<key>msg</key>
			<string>test</string>
		</dict>
		<dict>
			<key>epid</key>
			<integer>0</integer>
			<key>para</key>
			<integer>0</integer>
			<key>toast</key>
			<false/>
			<key>msg</key>
			<string>test</string>
		</dict>
		<dict>
			<key>epid</key>
			<integer>0</integer>
			<key>para</key>
			<integer>0</integer>
			<key>toast</key>
			<false/>
			<key>msg</key>
			<string>test</string>
		</dict>
		<dict>
			<key>epid</key>
			<integer>0</integer>
			<key>para</key>
			<integer>0</integer>
			<key>toast</key>
			<false/>
			<key>msg</key>
			<string>test</string>
		</dict>
		<dict>
			<key>epid</key>
			<integer>0</integer>
			<key>para</key>
			<integer>0</integer>
			<key>toast</key>
			<false/>
			<key>msg</key>
			<string>test</string>
		</dict>
		<dict>
			<key>epid</key>
			<integer>0</integer>
			<key>para</key>
			<integer>0</integer>
			<key>toast</key>
			<false/>
			<key>msg</key>
			<string>test</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>epid</key>
			<integer>0</integer>
			<key>para</key>
			<integer>0</integer>
			<key>toast</key>
			<false/>
			<key>msg</key>
			<string>test</string>
		</dict>
		<dict>
			<key>epid</key>
			<integer>0</integer>
			<key>para</key>
			<integer>0</integer>
			<key>toast</key>
			<false/>
			<key>msg</key>
			<string>test</string>
		</dict>
		<dict>
			<key>epid</key>
			<integer>0</integer>
			<key>para</key>
			<integer>0</integer>
			<key>toast</key>
			<false/>
			<key>msg</key>
			<string>test</string>
		</dict>
		<dict>
			<key>epid</key>
			<integer>0</integer>
			<key>para</key>
			<integer>0</integer>
			<key>toast</key>
			<false/>
			<key>msg</key>
			<string>test</string>
		</dict>
		<dict>
			<key>epid</key>
			<integer>0</integer>
			<key>para</key>
			<integer>0</integer>
			<key>toast</key>
			<false/>
			<key>msg</key>
			<string>test</string>
		</dict>
		<dict>
			<key>epid</key>
			<integer>0</integer>
			<key>para</key>
			<integer>0</integer>
			<key>toast</key>
			<false/>
			<key>msg</key>
			<string>test</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>epid</key>
			<integer>0</integer>
			<key>para</key>
			<integer>0</integer>
			<key>toast</key>
			<false/>
			<key>msg</key>
			<string>test</string>
		</dict>
		<dict>
			<key>epid</key>
			<integer>0</integer>
			<key>para</key>
			<integer>0</integer>
			<key>toast</key>
			<false/>
			<key>msg</key>
			<string>test</string>
		</dict>
		<dict>
			<key>epid</key>
			<integer>0</integer>
			<key>para</key>
			<integer>0</integer>
			<key>toast</key>
			<false/>
			<key>msg</key>
			<string>test</string>
		</dict>
		<dict>
			<key>epid</key>
			<integer>0</integer>
			<key>para</key>
			<integer>0</integer>
			<key>toast</key>
			<false/>
			<key>msg</key>
			<string>test</string>
		</dict>
		<dict>
			<key>epid</key>
			<integer>0</integer>
			<key>para</key>
			<integer>0</integer>
			<key>toast</key>
			<false/>
			<key>msg</key>
			<string>test</string>
		</dict>
		<dict>
			<key>epid</key>
			<integer>0</integer>
			<key>para</key>
			<integer>0</integer>
			<key>toast</key>
			<false/>
			<key>msg</key>
			<string>test</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>epid</key>
			<integer>0</integer>
			<key>para</key>
			<integer>0</integer>
			<key>toast</key>
			<false/>
			<key>msg</key>
			<string>test</string>
		</dict>
		<dict>
			<key>epid</key>
			<integer>0</integer>
			<key>para</key>
			<integer>0</integer>
			<key>toast</key>
			<false/>
			<key>msg</key>
			<string>test</string>
		</dict>
		<dict>
			<key>epid</key>
			<integer>0</integer>
			<key>para</key>
			<integer>0</integer>
			<key>toast</key>
			<false/>
			<key>msg</key>
			<string>test</string>
		</dict>
		<dict>
			<key>epid</key>
			<integer>0</integer>
			<key>para</key>
			<integer>0</integer>
			<key>toast</key>
			<false/>
			<key>msg</key>
			<string>test</string>
		</dict>
		<dict>
			<key>epid</key>
			<integer>0</integer>
			<key>para</key>
			<integer>0</integer>
			<key>toast</key>
			<false/>
			<key>msg</key>
			<string>test</string>
		</dict>
		<dict>
			<key>epid</key>
			<integer>0</integer>
			<key>para</key>
			<integer>0</integer>
			<key>toast</key>
			<false/>
			<key>msg</key>
			<string>test</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>epid</key>
			<integer>0</integer>
			<key>para</key>
			<integer>0</integer>
			<key>toast</key>
			<false/>
			<key>msg</key>
			<string>test</string>
		</dict>
		<dict>
			<key>epid</key>
			<integer>0</integer>
			<key>para</key>
			<integer>0</integer>
			<key>toast</key>
			<false/>
			<key>msg</key>
			<string>test</string>
		</dict>
		<dict>
			<key>epid</key>
			<integer>0</integer>
			<key>para</key>
			<integer>0</integer>
			<key>toast</key>
			<false/>
			<key>msg</key>
			<string>test</string>
		</dict>
		<dict>
			<key>epid</key>
			<integer>0</integer>
			<key>para</key>
			<integer>0</integer>
			<key>toast</key>
			<false/>
			<key>msg</key>
			<string>test</string>
		</dict>
		<dict>
			<key>epid</key>
			<integer>0</integer>
			<key>para</key>
			<integer>0</integer>
			<key>toast</key>
			<false/>
			<key>msg</key>
			<string>test</string>
		</dict>
		<dict>
			<key>epid</key>
			<integer>0</integer>
			<key>para</key>
			<integer>0</integer>
			<key>toast</key>
			<false/>
			<key>msg</key>
			<string>test</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>epid</key>
			<integer>0</integer>
			<key>para</key>
			<integer>0</integer>
			<key>toast</key>
			<false/>
			<key>msg</key>
			<string>test</string>
		</dict>
		<dict>
			<key>epid</key>
			<integer>0</integer>
			<key>para</key>
			<integer>0</integer>
			<key>toast</key>
			<false/>
			<key>msg</key>
			<string>test</string>
		</dict>
		<dict>
			<key>epid</key>
			<integer>0</integer>
			<key>para</key>
			<integer>0</integer>
			<key>toast</key>
			<false/>
			<key>msg</key>
			<string>test</string>
		</dict>
		<dict>
			<key>epid</key>
			<integer>0</integer>
			<key>para</key>
			<integer>0</integer>
			<key>toast</key>
			<false/>
			<key>msg</key>
			<string>test</string>
		</dict>
		<dict>
			<key>epid</key>
			<integer>0</integer>
			<key>para</key>
			<integer>0</integer>
			<key>toast</key>
			<false/>
			<key>msg</key>
			<string>test</string>
		</dict>
		<dict>
			<key>epid</key>
			<integer>0</integer>
			<key>para</key>
			<integer>0</integer>
			<key>toast</key>
			<false/>
			<key>msg</key>
			<string>test</string>
		</dict>
	</array>
</array>
</plist>
