<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>epid</key>
			<integer>2</integer>
			<key>para</key>
			<real>0.333</real>
			<key>toast</key>
			<true/>
			<key>msg</key>
			<string>Mince ! C’est une vieille, alors !</string>
			<key>msg_ref</key>
			<string>&quot;La créature infernale devait avoir dépassé la cinquantaine.&quot;</string>
		</dict>
		<dict>
			<key>epid</key>
			<integer>10</integer>
			<key>para</key>
			<real>0.333</real>
			<key>toast</key>
			<true/>
			<key>msg</key>
			<string>D’après ‘Comment réparer une barque avec une chaussette et une flûte à bec’, d’Angus Mc Gyver (traduit de l’écossais par Louis Lépine)</string>
			<key>msg_ref</key>
			<string>&quot;J’ai bouché le trou avec un morceau de bois coiffé d’un chiffon.&quot;</string>
		</dict>
		<dict>
			<key>epid</key>
			<integer>13</integer>
			<key>para</key>
			<real>0.9</real>
			<key>toast</key>
			<true/>
			<key>msg</key>
			<string>Raoul d’Andrésy vous recommande : ‘Essai sur la brique quadrangulaire en pays de Caux’, Société Savante de Motteville, 1889.</string>
			<key>msg_ref</key>
			<string>&quot;Parce que les briques des onze autres sont de dimensions abandonnées depuis deux cents ans.&quot;</string>
		</dict>
		<dict>
			<key>epid</key>
			<integer>18</integer>
			<key>para</key>
			<real>0.7</real>
			<key>toast</key>
			<true/>
			<key>msg</key>
			<string>C&apos;est à lire, je vous le recommande : Théophraste Lupin, ‘Le Ju-jitsu facile’, Paris, 1867.</string>
			<key>msg_ref</key>
			<string>&quot;Il me vient des instructions posthumes d&apos;un sieur Théophraste Lupin, chapitre des méthodes japonaises.&quot;</string>
		</dict>
		<dict>
			<key>epid</key>
			<integer>20</integer>
			<key>para</key>
			<real>0.9</real>
			<key>toast</key>
			<true/>
			<key>msg</key>
			<string>Donc, un prisonnier pendant la Terreur confie un secret au chevalier des Aubes, qui le rapporte 72 ans après au cardinal de Bonnechose…</string>
			<key>msg_ref</key>
			<string>&quot;Tu sauras, mon enfant, garder, quoi qu&apos;il arrive, un secret d&apos;où dépendent les intérêts les plus graves.&quot;</string>
		</dict>
		<dict>
			<key>epid</key>
			<integer>31</integer>
			<key>para</key>
			<real>0.12</real>
			<key>toast</key>
			<true/>
			<key>msg</key>
			<string>Mise à jour de mon statut : célibataire!</string>
			<key>msg_ref</key>
			<string>&quot;Adieu, Josine.&quot;</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>epid</key>
			<integer>16</integer>
			<key>para</key>
			<real>0.25</real>
			<key>toast</key>
			<true/>
			<key>msg</key>
			<string>Non mon Raoul, non!</string>
			<key>msg_ref</key>
			<string>&quot;Joséphine attirait la tête du jeune homme, et leurs bouches s&apos;unirent.&quot;</string>
		</dict>
		<dict>
			<key>epid</key>
			<integer>11</integer>
			<key>para</key>
			<real>0.1</real>
			<key>toast</key>
			<false/>
			<key>msg</key>
			<string>Que je suis malheureuse! J&apos;en ai la nausée!</string>
			<key>msg_ref</key>
			<string>&quot;Ses joues avaient perdu leurs teintes fraîches, et ses yeux cernés révélaient son chagrin et les longues heures de l’insomnie.&quot;</string>
		</dict>
		<dict>
			<key>epid</key>
			<integer>42</integer>
			<key>para</key>
			<real>0.2</real>
			<key>toast</key>
			<false/>
			<key>msg</key>
			<string>Mise à jour de mon statut: je ne suis plus amie avec Brigitte Rousselin qui ose blâmer mon cher Raoul pour son comportement.</string>
			<key>msg_ref</key>
			<string>&quot;Il renonça instantanément à retrouver Clarisse.&quot;</string>
		</dict>
		<dict>
			<key>epid</key>
			<integer>34</integer>
			<key>para</key>
			<real>0.45</real>
			<key>toast</key>
			<false/>
			<key>msg</key>
			<string>&quot;Je cherche une bonne couturière pour agrandir mes robes. Réponse en billet privé svp.&quot;</string>
			<key>msg_ref</key>
			<string>&quot;Je dis ce qui est... Ce n&apos;est pas l&apos;amante, qui s&apos;est confessée, c&apos;est la mère...&quot;</string>
		</dict>
		<dict>
			<key>epid</key>
			<integer>50</integer>
			<key>para</key>
			<real>0.35</real>
			<key>toast</key>
			<false/>
			<key>msg</key>
			<string>Mise à jour de mon statut : mariée à Raoul d&apos;Andrésy.</string>
			<key>msg_ref</key>
			<string>&quot;Le rôle de Raoul, dans cette affaire, ne pouvait être soupçonné, et son mariage passa inaperçu.&quot;</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>epid</key>
			<integer>25</integer>
			<key>para</key>
			<real>0.5</real>
			<key>toast</key>
			<false/>
			<key>msg</key>
			<string>Oui ! Qu’il donne une preuve ! Ou je lui brûle la cervelle!</string>
			<key>msg_ref</key>
			<string>&quot;La preuve! La preuve!&quot;</string>
		</dict>
		<dict>
			<key>epid</key>
			<integer>0</integer>
			<key>para</key>
			<real>0.4</real>
			<key>toast</key>
			<false/>
			<key>msg</key>
			<string>J’en étais sûr… Il en veut à sa dot.</string>
			<key>msg_ref</key>
			<string>&quot;Parce que mon père n&apos;était qu&apos;un roturier, pauvre comme Job...&quot;</string>
		</dict>
		<dict>
			<key>epid</key>
			<integer>34</integer>
			<key>para</key>
			<real>0.2</real>
			<key>toast</key>
			<false/>
			<key>msg</key>
			<string>Désiré ! je t’avais pourtant dit de ne pas le répéter !</string>
			<key>msg_ref</key>
			<string>&quot;la chose m’a été confiée, avant-hier soir, par Godefroy d’Étigues.&quot;</string>
		</dict>
		<dict>
			<key>epid</key>
			<integer>7</integer>
			<key>para</key>
			<real>0.8</real>
			<key>toast</key>
			<true/>
			<key>msg</key>
			<string>Je vous recommande à ce sujet ‘Les Sermons de Monseigneur d’Ambricourt’, 1893. Très beaux passages sur le jugement dernier.</string>
			<key>msg_ref</key>
			<string>&quot;Il y a des moments, murmura-t-il, où il faut prier Dieu comme si l’on devait mourir la  nuit même.&quot;</string>
		</dict>
		<dict>
			<key>epid</key>
			<integer>36</integer>
			<key>para</key>
			<real>0.65</real>
			<key>toast</key>
			<false/>
			<key>msg</key>
			<string>Il faut bien vivre. Disparus, les impôts seigneuriaux et leur poésie sonnante et trébuchante : le cens, l’abeillage, le champart...</string>
			<key>msg_ref</key>
			<string>&quot;Ses richesses, son château, ses chevaux, tout cela provient du crime.&quot;</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>epid</key>
			<integer>9</integer>
			<key>para</key>
			<real>0.9</real>
			<key>toast</key>
			<false/>
			<key>msg</key>
			<string>Mise à jour de mon statut : a un penchant certain pour Joséphine Balsamo</string>
			<key>msg_ref</key>
			<string>&quot;Elle est si belle… belle comme la Vierge…&quot;</string>
		</dict>
		<dict>
			<key>epid</key>
			<integer>8</integer>
			<key>para</key>
			<real>0.55</real>
			<key>toast</key>
			<false/>
			<key>msg</key>
			<string>Vivement qu’on en finisse. J’ai soif.</string>
			<key>msg_ref</key>
			<string>&quot;Bennetot grogna, d’un air bourru.&quot;</string>
		</dict>
		<dict>
			<key>epid</key>
			<integer>39</integer>
			<key>para</key>
			<real>0.45</real>
			<key>toast</key>
			<false/>
			<key>msg</key>
			<string>C’est qui, cette Regina ?</string>
			<key>msg_ref</key>
			<string>&quot;Ad lapidem currebat olim regina&quot;</string>
		</dict>
		<dict>
			<key>epid</key>
			<integer>50</integer>
			<key>para</key>
			<real>0.5</real>
			<key>toast</key>
			<false/>
			<key>msg</key>
			<string>Godefroy, ça te dirait une partie de pêche?</string>
			<key>msg_ref</key>
			<string>&quot;Godefroy d’Étigues, en effet, et son cousin Bennetot périrent au cours d’une promenade en barque.&quot;</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>epid</key>
			<integer>6</integer>
			<key>para</key>
			<real>0.7</real>
			<key>toast</key>
			<false/>
			<key>msg</key>
			<string>Joli ! Je commencerais bien une collection de miniatures représentant Joséphine de Cagliostro.</string>
			<key>msg_ref</key>
			<string>&quot;Je n’essaierai pas de vous persuader que j’ai servi de modèle au peintre (...). C’est une copie d’un fragment de la Sainte Famille de Bernardino Luini.&quot;</string>
		</dict>
		<dict>
			<key>epid</key>
			<integer>12</integer>
			<key>para</key>
			<real>0.1</real>
			<key>toast</key>
			<false/>
			<key>msg</key>
			<string>Un si beau chandelier ! J’aurais pu commencer une collection…</string>
			<key>msg_ref</key>
			<string>&quot;Raoul put extraire sans peine une tige de métal rongé, qui était bien une branche de ces grands chandeliers liturgiques que l’on voit sur certains autels.&quot;</string>
		</dict>
		<dict>
			<key>epid</key>
			<integer>17</integer>
			<key>para</key>
			<real>0.65</real>
			<key>toast</key>
			<false/>
			<key>msg</key>
			<string>Mon canard ! Ils ont rôti mon canard de collection ! Un authentique Vauquerville à huppe bleue !!!</string>
			<key>msg_ref</key>
			<string>&quot;À chaque épreuve, il se découvrait des talents imprévus et des ressources qu’il ignorait.&quot;</string>
		</dict>
		<dict>
			<key>epid</key>
			<integer>23</integer>
			<key>para</key>
			<real>0.6</real>
			<key>toast</key>
			<false/>
			<key>msg</key>
			<string>Sept bagues médiévales trouvées pour rien dans la loge d’une danseuse du théâtre des Variétés. Mieux que les enchères à Drouot !</string>
			<key>msg_ref</key>
			<string>&quot;C’est un collectionneur. Je lui ai promis de lui rapporter les sept pierres aujourd’hui à trois heures afin qu’il reconstitue les bagues.&quot;</string>
		</dict>
		<dict>
			<key>epid</key>
			<integer>37</integer>
			<key>para</key>
			<real>0.2</real>
			<key>toast</key>
			<true/>
			<key>msg</key>
			<string>Et dire que j’ai toujours détesté les versions latines !</string>
			<key>msg_ref</key>
			<string>&quot;Voilà exactement la phrase que j’ai déchiffrée… cinq mots latins…&quot;</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>epid</key>
			<integer>3</integer>
			<key>para</key>
			<real>0.35</real>
			<key>toast</key>
			<false/>
			<key>msg</key>
			<string>Juste ciel ! C’est donc à cette intriguante qu’on doit la perte de l’Alsace-Lorraine. Et dire que certains ont incriminé l’Etat-Major !</string>
			<key>msg_ref</key>
			<string>&quot;Je vous ai aperçue dans un café, assise devant une table, buvant et riant avec des officiers allemands.&quot;</string>
		</dict>
		<dict>
			<key>epid</key>
			<integer>38</integer>
			<key>para</key>
			<real>0.45</real>
			<key>toast</key>
			<false/>
			<key>msg</key>
			<string>Faiblesses ? Crises nerveuses ? Essayez la pâte Vaupalière ! De qualité supérieure, elle guérit les courbatures, l’insomnie, la tuberculose, la mauvaise haleine et les cors au pied !</string>
			<key>msg_ref</key>
			<string>&quot;Cagliostro faisait le mal par crise plutôt que par volonté – crise de démence où il y avait de l’hystérie et que suivait une sorte de lassitude, de courbature aussi bien morale que physique.&quot;</string>
		</dict>
		<dict>
			<key>epid</key>
			<integer>35</integer>
			<key>para</key>
			<real>0.2</real>
			<key>toast</key>
			<false/>
			<key>msg</key>
			<string>Décidemment, quelle maîtrise remarquable de l’emploi des narcotiques !</string>
			<key>msg_ref</key>
			<string>&quot;Léonard tira de sa poche un stylet qu’il enfonça légèrement dans l’épaule de l’adversaire. (...) Ce n’est rien… à peine deux ou trois heures d’engourdissement…&quot;</string>
		</dict>
		<dict>
			<key>epid</key>
			<integer>48</integer>
			<key>para</key>
			<real>0.3</real>
			<key>toast</key>
			<false/>
			<key>msg</key>
			<string>Crises nerveuses ? Phobies ? Parents abusifs ? Le docteur S. Freud vous reçoit du lundi ou vendredi au 19 de la rue Berggasse. Sur rendez-vous.</string>
			<key>msg_ref</key>
			<string>&quot;Ta mère n’était pas seule à t’élever, Josine, à te dresser au mal. Qui était ton père ?&quot;</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>epid</key>
			<integer>3</integer>
			<key>para</key>
			<real>0.7</real>
			<key>toast</key>
			<false/>
			<key>msg</key>
			<string>L’assassinat du président Carnot, le suicide du général Boulanger, le vin bouchonné, c’est elle ! L’arnaque de Panama, l’affaire Dreyfus, les douillons trop cuits, c’est encore elle !</string>
			<key>msg_ref</key>
			<string>&quot;Tout en demeurant dans la coulisse, Joséphine Balsamo a été mêlée à la tragi-comédie du Boulangisme, au drame du Panama.&quot;</string>
		</dict>
		<dict>
			<key>epid</key>
			<integer>5</integer>
			<key>para</key>
			<real>0.8</real>
			<key>toast</key>
			<true/>
			<key>msg</key>
			<string>Mise à jour de ma situation amoureuse : c&apos;est &quot;filandreux&quot;!</string>
			<key>msg_ref</key>
			<string>&quot;Je courus chez un pharmacien et fis analyser les cachets. L’un d’eux contenait du poison, de quoi me foudroyer.&quot;</string>
		</dict>
		<dict>
			<key>epid</key>
			<integer>8</integer>
			<key>para</key>
			<real>0.4</real>
			<key>toast</key>
			<false/>
			<key>msg</key>
			<string>Ah bah merci ! La confiance règne…</string>
			<key>msg_ref</key>
			<string>&quot;Un jour ou l’autre, quand il n’aura plus besoin de nous, il nous tirera sa révérence, et l’on s’apercevra qu’il a escamoté l’affaire à son profit.&quot;</string>
		</dict>
		<dict>
			<key>epid</key>
			<integer>21</integer>
			<key>para</key>
			<real>0.95</real>
			<key>toast</key>
			<false/>
			<key>msg</key>
			<string>Oui, la bibliophilie est un aspect méconnu de ma personnalité. Je collectionne les premières éditions de L’Imitation de Jésus-Christ.</string>
			<key>msg_ref</key>
			<string>&quot;Ce mémoire (...) fut trouvé dans un de ses livres de théologie, quand on vendit sa bibliothèque. Trouvé par qui ? par Beaumagnan.&quot;</string>
		</dict>
		<dict>
			<key>epid</key>
			<integer>24</integer>
			<key>para</key>
			<real>0.45</real>
			<key>toast</key>
			<false/>
			<key>msg</key>
			<string>Il ne manquerait qu’on me prête une liaison avec une danseuse de cancan !</string>
			<key>msg_ref</key>
			<string>&quot;Dans l’intention, monsieur, de poursuivre l’entretien que vous avez commencé hier soir, avec elle, au théâtre des Variétés.&quot;</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>epid</key>
			<integer>1</integer>
			<key>para</key>
			<real>0.8</real>
			<key>toast</key>
			<false/>
			<key>msg</key>
			<string>Ça fonctionne donc, ces crèmes de jeunesse ?</string>
			<key>msg_ref</key>
			<string>&quot;Elle a le même âge qu’il y a vingt-quatre ans !&quot;</string>
		</dict>
		<dict>
			<key>epid</key>
			<integer>1</integer>
			<key>para</key>
			<real>0.2</real>
			<key>toast</key>
			<false/>
			<key>msg</key>
			<string>Beaumagnan devrait porter plus de couleur. On dirait une chauve-souris.</string>
			<key>msg_ref</key>
			<string>&quot;Quelque chose de sévère et même d’ascétique dans ses manières comme dans son habillement, il avait l’air d’un personnage d’église.&quot;</string>
		</dict>
		<dict>
			<key>epid</key>
			<integer>33</integer>
			<key>para</key>
			<real>0.85</real>
			<key>toast</key>
			<false/>
			<key>msg</key>
			<string>C’est Reboux ou Carlier, la voilette brodée ?</string>
			<key>msg_ref</key>
			<string>&quot;Elle était coiffée d’une toque d’où pendait un voile à grosses fleurs brodées&quot;</string>
		</dict>
		<dict>
			<key>epid</key>
			<integer>43</integer>
			<key>para</key>
			<real>0.95</real>
			<key>toast</key>
			<true/>
			<key>msg</key>
			<string>Je cherche un quatrième pour le bridge de vendredi.</string>
			<key>msg_ref</key>
			<string>&quot;Les raisons de ce suicide sont absolument mystérieuses.&quot;</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>epid</key>
			<integer>23</integer>
			<key>para</key>
			<real>0.45</real>
			<key>toast</key>
			<false/>
			<key>msg</key>
			<string>Déception. Hippolyte Pédalier, blessé, ne pourra courir le Caudebec-Lillebonne.</string>
			<key>msg_ref</key>
			<string>&quot;À Lillebonne, entre Rouen et Le Havre.&quot;</string>
		</dict>
		<dict>
			<key>epid</key>
			<integer>28</integer>
			<key>para</key>
			<real>0.35</real>
			<key>toast</key>
			<false/>
			<key>msg</key>
			<string>La France – 38 millions d’habitants, 203 026 bicyclettes !</string>
			<key>msg_ref</key>
			<string>&quot;Il fit venir sa bicyclette et poussa jusqu’aux environs de Lillebonne.&quot;</string>
		</dict>
		<dict>
			<key>epid</key>
			<integer>40</integer>
			<key>para</key>
			<real>0.6</real>
			<key>toast</key>
			<false/>
			<key>msg</key>
			<string>Le Boxing Club de Doudeville devrait la nommer présidente d’honneur !</string>
			<key>msg_ref</key>
			<string>&quot;S’il se méfiait de Léonard, il avait oublié Joséphine Balsamo. Brusquement, celle-ci lui frappa le crâne d’un coup de son casse-tête.&quot;</string>
		</dict>
		<dict>
			<key>epid</key>
			<integer>2</integer>
			<key>para</key>
			<real>0.17</real>
			<key>toast</key>
			<true/>
			<key>msg</key>
			<string>Si elle est vraiment devin, qu’elle nous dise sur qui parier pour le British Open de golf à Sandwich.</string>
			<key>msg_ref</key>
			<string>&quot;Avaient-ils retrouvé chez celle qui, suivant eux, se prétendait la fille de Cagliostro, les dons de clairvoyance et de divination?&quot;</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>epid</key>
			<integer>2</integer>
			<key>para</key>
			<real>0.97</real>
			<key>toast</key>
			<false/>
			<key>msg</key>
			<string>L’Italie, la France, la Russie ! Diantre, en voilà une voyageuse ! En même temps, si elle a 116 ans …</string>
			<key>msg_ref</key>
			<string>&quot;Le tsar Alexandre 1er recueille Josine et l’envoie en Russie.&quot;</string>
		</dict>
		<dict>
			<key>epid</key>
			<integer>11</integer>
			<key>para</key>
			<real>0.6</real>
			<key>toast</key>
			<false/>
			<key>msg</key>
			<string>C’est lent, ces voitures à cheval. Ce n’est pas avec ça que Jules de Dion aurait remporté le Paris-Rouen avec 3 minutes 30 d’avance sur la Peugeot d’Albert Lemaître !</string>
			<key>msg_ref</key>
			<string>&quot;Le lendemain matin, d’Ormont, Rolleville et Roux d’Estiers venaient chercher leurs deux amis en voiture, Raoul s’élança derrière eux.&quot;</string>
		</dict>
		<dict>
			<key>epid</key>
			<integer>43</integer>
			<key>para</key>
			<real>0.9</real>
			<key>toast</key>
			<true/>
			<key>msg</key>
			<string>Nom d’un chien. Ne me dites pas que Beaumagnan est le père de Clarisse !</string>
			<key>msg_ref</key>
			<string>&quot;Clarisse épousera d’Andrésy… je le veux…&quot;</string>
		</dict>
		<dict>
			<key>epid</key>
			<integer>38</integer>
			<key>para</key>
			<real>0.8</real>
			<key>toast</key>
			<false/>
			<key>msg</key>
			<string>Diantre, voilà une scène qui rendrait bien avec le kinétographe des frères Lumières : une caméra qui donne l’illusion du mouvement !</string>
			<key>msg_ref</key>
			<string>&quot;Il referma la porte derrière elle. Clarisse était sauvée.&quot;</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>epid</key>
			<integer>1</integer>
			<key>para</key>
			<real>0.45</real>
			<key>toast</key>
			<false/>
			<key>msg</key>
			<string>Me voilà comme la princesse égyptienne Tahoser étouffant sous ses bandelettes. Prochaine étape, le sarcophage ?</string>
			<key>msg_ref</key>
			<string>&quot;Une femme dont les jambes et les mains étaient attachées, et dont une écharpe de gaze enveloppait la tête.&quot;</string>
		</dict>
		<dict>
			<key>epid</key>
			<integer>9</integer>
			<key>para</key>
			<real>0.7</real>
			<key>toast</key>
			<false/>
			<key>msg</key>
			<string>Mais il ne s’arrête donc jamais de parler !</string>
			<key>msg_ref</key>
			<string>&quot;Ce qui ne l’empêcha pas d’ailleurs de monologuer avec toute la satisfaction de quelqu’un qui est enchanté de soi-même et de ses moindres actes.&quot;</string>
		</dict>
		<dict>
			<key>epid</key>
			<integer>9</integer>
			<key>para</key>
			<real>0.9</real>
			<key>toast</key>
			<false/>
			<key>msg</key>
			<string>Le bougre profite un peu de la situation…</string>
			<key>msg_ref</key>
			<string>&quot;il acheva l’ascension en serrant ainsi contre sa poitrine le corps charmant dont ses mains sentaient les formes souples.&quot;</string>
		</dict>
		<dict>
			<key>epid</key>
			<integer>10</integer>
			<key>para</key>
			<real>0.1</real>
			<key>toast</key>
			<true/>
			<key>msg</key>
			<string>Le bougre profite un peu BEAUCOUP de la situation!</string>
			<key>msg_ref</key>
			<string>&quot;Lentement il écarta l’étoffe.&quot;</string>
		</dict>
		<dict>
			<key>epid</key>
			<integer>10</integer>
			<key>para</key>
			<real>0.4</real>
			<key>toast</key>
			<false/>
			<key>msg</key>
			<string>Encore heureux qu’il ne se soit pas permis davantage !</string>
			<key>msg_ref</key>
			<string>&quot;Le baiser dérobé fut l’unique caresse qu’il se permit.&quot;</string>
		</dict>
		<dict>
			<key>epid</key>
			<integer>13</integer>
			<key>para</key>
			<real>0.2</real>
			<key>toast</key>
			<false/>
			<key>msg</key>
			<string>Je vais t’appeler Rouroul, moi, tu vas voir !</string>
			<key>msg_ref</key>
			<string>&quot;Du respect, d’abord, dit-elle, en souriant de son enfantillage, je ne suis pas votre Josine.&quot;</string>
		</dict>
		<dict>
			<key>epid</key>
			<integer>14</integer>
			<key>para</key>
			<real>0.2</real>
			<key>toast</key>
			<true/>
			<key>msg</key>
			<string>Madonna! Ma che vergogna! Bugiardo ! Farabutto !</string>
			<key>msg_ref</key>
			<string>&quot;Ils échangèrent quelques mots rapides en une langue que Raoul ne comprenait pas.&quot;</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>epid</key>
			<integer>18</integer>
			<key>para</key>
			<real>0.95</real>
			<key>toast</key>
			<true/>
			<key>msg</key>
			<string>Zut!</string>
			<key>msg_ref</key>
			<string>&quot;Il murmura avec stupeur : Léonard… Léonard…&quot;</string>
		</dict>
		<dict>
			<key>epid</key>
			<integer>27</integer>
			<key>para</key>
			<real>0.1</real>
			<key>toast</key>
			<false/>
			<key>msg</key>
			<string>Le colis est livré, n&apos;en parlons plus.</string>
			<key>msg_ref</key>
			<string>&quot;Déjà les hommes le précipitaient à l’intérieur d’une maison.&quot;</string>
		</dict>
		<dict>
			<key>epid</key>
			<integer>18</integer>
			<key>para</key>
			<real>0.25</real>
			<key>toast</key>
			<false/>
			<key>msg</key>
			<string>La pie est arrivée. Le coucou se dirige vers le nid. Je répète : la pie est arrivée.</string>
			<key>msg_ref</key>
			<string>&quot;Fini, s’écria Brigitte Rousselin, en regagnant sa chambre.&quot;</string>
		</dict>
		<dict>
			<key>epid</key>
			<integer>45</integer>
			<key>para</key>
			<real>0.1</real>
			<key>toast</key>
			<false/>
			<key>msg</key>
			<string>Comme disait MacMahon : &quot;Que d’eau ! Que d’eau !&quot;</string>
			<key>msg_ref</key>
			<string>&quot;Aussitôt le prince Lavorneff dirigea son yacht vers le lieu du sinistre.&quot;</string>
		</dict>
		<dict>
			<key>epid</key>
			<integer>48</integer>
			<key>para</key>
			<real>0.6</real>
			<key>toast</key>
			<false/>
			<key>msg</key>
			<string>Hum, on dirait que les carottes sont cuites!</string>
			<key>msg_ref</key>
			<string>&quot;Ma bonne Joséphine, faut-il que tu sois naïve.&quot;</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>epid</key>
			<integer>15</integer>
			<key>para</key>
			<real>0.1</real>
			<key>toast</key>
			<false/>
			<key>msg</key>
			<string>Exigez la qualité ! Demandez les douillons de la Mère Vasseur. Méfiez-vous des contrefaçons.</string>
			<key>msg_ref</key>
			<string>&quot;Plus brave que la mère Vasseur, il n’y en a pas.&quot;</string>
		</dict>
		<dict>
			<key>epid</key>
			<integer>15</integer>
			<key>para</key>
			<real>0.8</real>
			<key>toast</key>
			<false/>
			<key>msg</key>
			<string>Allons, messieurs ! Promotion sur les douillons, 2 francs seulement la douzaine.</string>
			<key>msg_ref</key>
			<string>&quot;Ils vont interroger la mère Vasseur.&quot;</string>
		</dict>
		<dict>
			<key>epid</key>
			<integer>31</integer>
			<key>para</key>
			<real>0.99</real>
			<key>toast</key>
			<false/>
			<key>msg</key>
			<string>Du bon, Du doux, Du douillon !</string>
			<key>msg_ref</key>
			<string>&quot;Et le break partit au petit trot.&quot;</string>
		</dict>
		<dict>
			<key>epid</key>
			<integer>33</integer>
			<key>para</key>
			<real>0.15</real>
			<key>toast</key>
			<false/>
			<key>msg</key>
			<string>Après Londres, New-York, Osaka, ouverture prochaine d’une nouvelle boutique ‘Aux Douillons d’Eugénie’ à Tancarville !</string>
			<key>msg_ref</key>
			<string>&quot;Si l’on monte au belvédère, c’est la vue la plus grandiose sur le canal de Tancarville et sur l’estuaire du fleuve.&quot;</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>epid</key>
			<integer>14</integer>
			<key>para</key>
			<real>0.95</real>
			<key>toast</key>
			<true/>
			<key>msg</key>
			<string>Les gendarmes sont à la poursuite d’une suspecte. Signalement : une jeune femme en robe de laine grise, portant un chapeau orné de violettes.</string>
			<key>msg_ref</key>
			<string>&quot;On attend les gendarmes… Sauvez-vous, ou vous êtes perdue.&quot;</string>
		</dict>
		<dict>
			<key>epid</key>
			<integer>18</integer>
			<key>para</key>
			<real>0.4</real>
			<key>toast</key>
			<false/>
			<key>msg</key>
			<string>Un stock d’arsenic et de vieilles dentelles dérobé à Colletot</string>
			<key>msg_ref</key>
			<string>&quot;La nuit, Raoul, ayant réussi à ouvrir la trappe, visita les ballots.&quot;</string>
		</dict>
		<dict>
			<key>epid</key>
			<integer>18</integer>
			<key>para</key>
			<real>0.6</real>
			<key>toast</key>
			<false/>
			<key>msg</key>
			<string>Vol aggravé d’une vieille tapisserie râpée, de vingt-sept estampes japonaises inconvenantes et d’une boîte à chaussures turque du XVIIe siècle à Bardouville.</string>
			<key>msg_ref</key>
			<string>&quot;Dès lors, à Pontoise, à Saint-Germain, à Paris, où la Nonchalante, amarrée en face même de la préfecture de police, continuait à leur servir de logis, ils « opérèrent » ensemble.&quot;</string>
		</dict>
		<dict>
			<key>epid</key>
			<integer>18</integer>
			<key>para</key>
			<real>0.65</real>
			<key>toast</key>
			<false/>
			<key>msg</key>
			<string>Une collection inestimable de pots de chambre en faïence de Rouen a disparu à Mantes.</string>
			<key>msg_ref</key>
			<string>&quot;À chaque épreuve, il se découvrait des talents imprévus et des ressources qu’il ignorait.&quot;</string>
		</dict>
		<dict>
			<key>epid</key>
			<integer>18</integer>
			<key>para</key>
			<real>0.75</real>
			<key>toast</key>
			<false/>
			<key>msg</key>
			<string>Cambriolage au château de Gueures. Un canard de collection rôti a été retrouvé sur les lieux. Les faits dateraient de plus d’une semaine.</string>
			<key>msg_ref</key>
			<string>&quot;Ce qui ne l’empêchait pas d’obéir aux multiples précautions exigées par Joséphine Balsamo.&quot;</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>epid</key>
			<integer>5</integer>
			<key>para</key>
			<real>0.15</real>
			<key>toast</key>
			<false/>
			<key>msg</key>
			<string>Ils en ont parlé dans la dépêche de Doudeville – ‘Tragique accident à Saint-Valéry. Il meurt en glissant sur du varech.’</string>
			<key>msg_ref</key>
			<string>&quot;Georges d’Isneauval qui chassait les mouettes de très grand matin, au pied des falaises de Dieppe, glissa sur les algues.&quot;</string>
		</dict>
		<dict>
			<key>epid</key>
			<integer>9</integer>
			<key>para</key>
			<real>0.95</real>
			<key>toast</key>
			<false/>
			<key>msg</key>
			<string>En voilà un qu’a l’air costaud comme ça, mais en fait, rien dans les bras !</string>
			<key>msg_ref</key>
			<string>&quot;Je ne peux plus… murmura le baron tout défaillant… mes bras refusent.&quot;</string>
		</dict>
		<dict>
			<key>epid</key>
			<integer>16</integer>
			<key>para</key>
			<real>0.97</real>
			<key>toast</key>
			<false/>
			<key>msg</key>
			<string>Ils commencent de plus en plus jeune… Et dire qu’on lui aurait donné le bon dieu sans confession !</string>
			<key>msg_ref</key>
			<string>&quot;On ne sut jamais qui était l’auteur de ce vol (...). Moi, je le sais. C’était toi. Tu avais six ans.&quot;</string>
		</dict>
		<dict>
			<key>epid</key>
			<integer>6</integer>
			<key>para</key>
			<real>0.95</real>
			<key>toast</key>
			<false/>
			<key>msg</key>
			<string>Quelle horreur ! C’est comme quand Eugénie Vasseur avait été accusée d’avoir empoisonné le sous-préfet avec un douillon.</string>
			<key>msg_ref</key>
			<string>&quot;Elle apparaissait réellement coupable.&quot;</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>epid</key>
			<integer>1</integer>
			<key>para</key>
			<real>0.65</real>
			<key>toast</key>
			<true/>
			<key>msg</key>
			<string>Il est bien mignon ce Raoul, mais ce n’est pas la modestie qui l’étouffe…</string>
			<key>msg_ref</key>
			<string>&quot;Muscles d’acier et cerveau numéro un !&quot;</string>
		</dict>
		<dict>
			<key>epid</key>
			<integer>4</integer>
			<key>para</key>
			<real>0.33</real>
			<key>toast</key>
			<false/>
			<key>msg</key>
			<string>Et dire que tout jeune, celui-là aussi était déjà lourdaud…</string>
			<key>msg_ref</key>
			<string>&quot;Pour moi, je ne les oublierai jamais.&quot;</string>
		</dict>
		<dict>
			<key>epid</key>
			<integer>1</integer>
			<key>para</key>
			<real>0.8</real>
			<key>toast</key>
			<false/>
			<key>msg</key>
			<string>Elles ont bon dos, les amies de pension!</string>
			<key>msg_ref</key>
			<string>&quot;Ils s’aimaient depuis trois mois, depuis le jour de leur rencontre dans le Midi où Clarisse passait quelque temps chez une amie de pension.&quot;</string>
		</dict>
		<dict>
			<key>epid</key>
			<integer>43</integer>
			<key>para</key>
			<real>0.15</real>
			<key>toast</key>
			<false/>
			<key>msg</key>
			<string>Clarisse, conseil d’amie. Arrête de courir après ce cornichon de Raoul…</string>
			<key>msg_ref</key>
			<string>&quot;Il faut avouer qu’il renonça instantanément à trouver Clarisse.&quot;</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>epid</key>
			<integer>11</integer>
			<key>para</key>
			<real>0.33</real>
			<key>toast</key>
			<false/>
			<key>msg</key>
			<string>Il vous préfère en pleurs que souriante ? Il est jaloux à l’excès ? N’attendez pas ! Contactez La Société de la protection des femmes, 25 rue Montmartre.</string>
			<key>msg_ref</key>
			<string>&quot;Je comprends qu’on ait envie de vous faire pleurer.&quot;</string>
		</dict>
		<dict>
			<key>epid</key>
			<integer>19</integer>
			<key>para</key>
			<real>0.45</real>
			<key>toast</key>
			<false/>
			<key>msg</key>
			<string>Ah ! Monter, descendre, monter, descendre ! Je n’ai plus vingt ans moi !</string>
			<key>msg_ref</key>
			<string>&quot;La servante descendit. On perçut le claquement de la porte refermée et elle remonta&quot;</string>
		</dict>
		<dict>
			<key>epid</key>
			<integer>20</integer>
			<key>para</key>
			<real>0.2</real>
			<key>toast</key>
			<true/>
			<key>msg</key>
			<string>J’en ai vu d’autres, mon petit monsieur !</string>
			<key>msg_ref</key>
			<string>&quot;C’était une femme de tête. Une fois délivrée, et sachant son agresseur incapable de nuire, elle ne s’affola pas.&quot;</string>
		</dict>
		<dict>
			<key>epid</key>
			<integer>23</integer>
			<key>para</key>
			<real>0.99</real>
			<key>toast</key>
			<false/>
			<key>msg</key>
			<string>Il a décidément tous les talents, ce garçon. A quand le numéro au Moulin rouge…</string>
			<key>msg_ref</key>
			<string>&quot;Il se leva de nouveau et pivota deux ou trois fois sur ses talons, petit tournoiement qu’il fit suivre d’une esquisse de danse qui tenait du cancan et de la gigue.&quot;</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>epid</key>
			<integer>46</integer>
			<key>para</key>
			<real>0.2</real>
			<key>toast</key>
			<false/>
			<key>msg</key>
			<string>Avoir l’air d’un chinois en Chine, d’un indien en Inde, d’un égyptien en Égypte, voilà la qualité première d’un explorateur !</string>
			<key>msg_ref</key>
			<string>&quot;Raoul l’a peut-être aperçu une fois ou deux, mais tu sais à quel point Dominique est habile pour se grimer.&quot;</string>
		</dict>
		<dict>
			<key>epid</key>
			<integer>46</integer>
			<key>para</key>
			<real>0.95</real>
			<key>toast</key>
			<false/>
			<key>msg</key>
			<string>C’est Le Livre de la jungle qu’il lit. Un bouquin très fort qui vient de paraître chez les Anglais. C’est moi qui lui ait prêté.</string>
			<key>msg_ref</key>
			<string>&quot;Il se réveillait, se forçait à lire et, de nouveau, s’endormait.&quot;</string>
		</dict>
		<dict>
			<key>epid</key>
			<integer>46</integer>
			<key>para</key>
			<real>0.99</real>
			<key>toast</key>
			<false/>
			<key>msg</key>
			<string>Faut dire que j’ai pas mon pareil pour dresser une carte ! Premier prix de géographie au lycée Corneille pour la troisième fois consécutive !</string>
			<key>msg_ref</key>
			<string>&quot;Elle connaissait si bien les lieux par les croquis que lui avait envoyés Dominique.&quot;</string>
		</dict>
		<dict>
			<key>epid</key>
			<integer>47</integer>
			<key>para</key>
			<real>0.5</real>
			<key>toast</key>
			<false/>
			<key>msg</key>
			<string>Dans le journal, c’est toujours ce que disent les assassins à leur chef.</string>
			<key>msg_ref</key>
			<string>&quot;Dominique accourut. (...) Il murmura : C’est fait.&quot;</string>
		</dict>
		<dict>
			<key>epid</key>
			<integer>47</integer>
			<key>para</key>
			<real>0.6</real>
			<key>toast</key>
			<true/>
			<key>msg</key>
			<string>Voilà mon billet première classe pour Tombouctou!</string>
			<key>msg_ref</key>
			<string>&quot;Bigre ! Plus de cent mille francs pour moi, hein ?&quot;</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>epid</key>
			<integer>27</integer>
			<key>para</key>
			<real>0.15</real>
			<key>toast</key>
			<false/>
			<key>msg</key>
			<string>Je ne suis pas difficile à trouver : le mardi à Saint-Martin, le mercredi une semaine sur deux à Jumièges, et tous les dimanches au marché aux fromages à Lillebonne.</string>
			<key>msg_ref</key>
			<string>&quot;Je déniche la veuve Rousselin.&quot;</string>
		</dict>
		<dict>
			<key>epid</key>
			<integer>50</integer>
			<key>para</key>
			<real>0.7</real>
			<key>toast</key>
			<false/>
			<key>msg</key>
			<string>Des lentilles qui viennent de mon jardin</string>
			<key>msg_ref</key>
			<string>&quot;Ce que j’ai pu prendre dans les sacs de provisions… quelques livres de haricots et de lentilles…&quot;</string>
		</dict>
		<dict>
			<key>epid</key>
			<integer>31</integer>
			<key>para</key>
			<real>0.15</real>
			<key>toast</key>
			<false/>
			<key>msg</key>
			<string>Mon pauvre Bernard ! Même la farine mexicaine del docteur Benito del Rio del Mexico n’aurait pas pu le sauver !</string>
			<key>msg_ref</key>
			<string>&quot;Le pauvre homme était malade…&quot;</string>
		</dict>
		<dict>
			<key>epid</key>
			<integer>31</integer>
			<key>para</key>
			<real>0.65</real>
			<key>toast</key>
			<true/>
			<key>msg</key>
			<string>Adieu ma Brigitte… N’oublie pas de nourrir Marguerite. C’est quand même grâce à elle que j’ai eu la médaille du meilleur Neufchâtel…</string>
			<key>msg_ref</key>
			<string>&quot;Et puis non… je n’ai pas le droit… j’aime mieux mourir…&quot;</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>epid</key>
			<integer>9</integer>
			<key>para</key>
			<real>0.1</real>
			<key>toast</key>
			<true/>
			<key>msg</key>
			<string>La ligue antialcoolique de Jumièges se tient à votre disposition.</string>
			<key>msg_ref</key>
			<string>&quot;Tu aurais dû apporter un flacon de rhum, bougonna Oscar de Bennetot.&quot;</string>
		</dict>
		<dict>
			<key>epid</key>
			<integer>43</integer>
			<key>para</key>
			<real>0.6</real>
			<key>toast</key>
			<false/>
			<key>msg</key>
			<string>Attention, ce vendredi, la confession sera exceptionnellement assurée par le Père Patelin.</string>
			<key>msg_ref</key>
			<string>&quot;C’était le curé de Jumièges qui, accompagné d’un enfant, s’en revenait d’administrer l’extrême-onction.&quot;</string>
		</dict>
		<dict>
			<key>epid</key>
			<integer>43</integer>
			<key>para</key>
			<real>0.7</real>
			<key>toast</key>
			<false/>
			<key>msg</key>
			<string>La personne ayant volé six bouteilles de vin de messe est priée de venir se confesser sans attendre.</string>
			<key>msg_ref</key>
			<string>&quot;Il y a quelques années, oui, mais la commune l’a vendu à un de mes paroissiens.&quot;</string>
		</dict>
		<dict>
			<key>epid</key>
			<integer>0</integer>
			<key>para</key>
			<real>0.8</real>
			<key>toast</key>
			<false/>
			<key>msg</key>
			<string>Vous hésitez entre le bien et le mal ? Vous êtes tenté par le péché, mais attiré par la vertu ? Le curé de Jumièges est à votre écoute.</string>
			<key>msg_ref</key>
			<string>&quot;Le bien, le mal, l’un et l’autre m’attirent.&quot;</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>epid</key>
			<integer>27</integer>
			<key>para</key>
			<real>0.1</real>
			<key>toast</key>
			<false/>
			<key>msg</key>
			<string>Une affaire sûre et rondement menée. Les vacances gratuites en costume rayé aux frais de l’État à Belle-île-en-mer ou à Cayenne, j’ai donné, merci.</string>
			<key>msg_ref</key>
			<string>&quot;Trois hommes se présentèrent de chaque côté, Raoul fut happé brutalement et enlevé avant même d’esquisser un geste de résistance.&quot;</string>
		</dict>
		<dict>
			<key>epid</key>
			<integer>46</integer>
			<key>para</key>
			<real>0.99</real>
			<key>toast</key>
			<false/>
			<key>msg</key>
			<string>Voilà ce qui passe, frangine, quand on tergiverse ! Fallait lui régler son compte.</string>
			<key>msg_ref</key>
			<string>&quot;Mon Dieu, oui, moi !&quot;</string>
		</dict>
		<dict>
			<key>epid</key>
			<integer>26</integer>
			<key>para</key>
			<real>0.95</real>
			<key>toast</key>
			<false/>
			<key>msg</key>
			<string>Gros coup à monter Gare Saint-Lazare. On joue sur du velours, les gars. Contactez-moi en billet privé.</string>
			<key>msg_ref</key>
			<string>&quot;Cocher, dit Raoul, gare Saint-Lazare, au départ des grandes lignes.&quot;</string>
		</dict>
		<dict>
			<key>epid</key>
			<integer>47</integer>
			<key>para</key>
			<real>0.55</real>
			<key>toast</key>
			<false/>
			<key>msg</key>
			<string>Ca commence à sentir mauvais cette histoire … Je tire ma révérence. Aller-simple pour New-York, en 3e classe.</string>
			<key>msg_ref</key>
			<string>&quot;Voyons, Joséphine, mais ta visite était inévitable ! Alors, quoi ! j’ai pris mes précautions...&quot;</string>
		</dict>
	</array>
</array>
</plist>
