<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Abbaye de Boscherville</string>
		<key>x</key>
		<real>0.66</real>
		<key>y</key>
		<real>0.58</real>
		<key>epid</key>
		<integer>17</integer>
		<key>intro</key>
		<string>Intelligentsia roof party tote bag narwhal, chambray Portland umami actually squid Odd Future blog hashtag disrupt. Chambray pour-over yr American Apparel chia cray, selfies normcore forage swag Wes Anderson pop-up trust fund. Direct trade Odd Future Brooklyn plaid, wayfarers Thundercats kitsch aesthetic mixtape wolf ugh selvage. Austin iPhone hella, +1 yr raw denim VHS brunch ennui. VHS Intelligentsia 8-bit leggings. Master cleanse trust fund farm-to-table, wolf selvage Etsy Banksy Cosby sweater polaroid craft beer. Small batch meh cred YOLO pug.</string>
		<key>itineraire</key>
		<array>
			<string>Oh. You need a little dummy text for your mockup? How quaint.</string>
			<string>I bet you’re still using Bootstrap too…</string>
			<string>Tumblr disrupt selvage tofu dreamcatcher cray.</string>
		</array>
		<key>historique</key>
		<string>Farm-to-table sriracha narwhal, shabby chic occupy vegan DIY sustainable gluten-free PBR&amp;B Bushwick 8-bit. Cred chia blog, before they sold out Banksy Thundercats McSweeney&apos;s lomo. Aesthetic mustache beard ugh, quinoa actually swag farm-to-table Truffaut letterpress pickled slow-carb. Twee flannel asymmetrical, bitters +1 paleo Blue Bottle post-ironic biodiesel photo booth mlkshk Williamsburg literally mumblecore. Meh organic messenger bag, Blue Bottle Banksy tousled direct trade kale chips gentrify skateboard swag.</string>
		<key>celebs</key>
		<array>
			<string>Lebowski ipsum wonderful woman. </string>
			<string>Mr. Lebowski is in seclusion in the West Wing.</string>
		</array>
		<key>conversation</key>
		<array>
			<string>Shoe motif leather tote Céline Luggage relaxed Topshop Givenchy. </string>
			<string>White neutral A.P.C. skirt Cara D. indigo Céline beanie center part Superga</string>
			<string>Cotton mint Paris LA Saint Laurent ecru gold collar longline Copenhagen. </string>
		</array>
		<key>savoir</key>
		<string>Look, just because I don&apos;t be givin&apos; no man a foot massage don&apos;t make it right for Marsellus to throw Antwone into a glass motherfuckin&apos; house, fuckin&apos; up the way the nigger talks. Motherfucker do that shit to me, he better paralyze my ass, &apos;cause I&apos;ll kill the motherfucker, know what I&apos;m sayin&apos;?</string>
		<key>events</key>
		<string>Powder pink bandeau Weekday tee white shirt Jil Sander Vasari Prada Saffiano Choupette oversized sweatshirt print.</string>
		<key>numphotos</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Abbaye de Fécamp</string>
		<key>x</key>
		<real>0.31</real>
		<key>y</key>
		<real>0.16</real>
		<key>epid</key>
		<integer>0</integer>
		<key>intro</key>
		<string>some lame text for now</string>
		<key>itineraire</key>
		<array>
			<string>some lame text for now</string>
			<string>some lame text for now</string>
			<string>some lame text for now</string>
		</array>
		<key>historique</key>
		<string>some lame text for now</string>
		<key>celebs</key>
		<array>
			<string>some lame text for now</string>
			<string>some lame text for now</string>
		</array>
		<key>conversation</key>
		<array>
			<string>some lame text for now</string>
			<string>some lame text for now</string>
			<string>some lame text for now</string>
		</array>
		<key>savoir</key>
		<string>some lame text for now</string>
		<key>events</key>
		<string>some lame text for now</string>
		<key>numphotos</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Abbaye Gruchet le Valasse</string>
		<key>x</key>
		<real>0.34</real>
		<key>y</key>
		<real>0.42</real>
		<key>epid</key>
		<integer>0</integer>
		<key>intro</key>
		<string>some lame text for now</string>
		<key>itineraire</key>
		<array>
			<string>some lame text for now</string>
			<string>some lame text for now</string>
			<string>some lame text for now</string>
		</array>
		<key>historique</key>
		<string>some lame text for now</string>
		<key>celebs</key>
		<array>
			<string>some lame text for now</string>
			<string>some lame text for now</string>
		</array>
		<key>conversation</key>
		<array>
			<string>some lame text for now</string>
			<string>some lame text for now</string>
			<string>some lame text for now</string>
		</array>
		<key>savoir</key>
		<string>some lame text for now</string>
		<key>events</key>
		<string>some lame text for now</string>
		<key>numphotos</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Abbaye de Jumièges</string>
		<key>x</key>
		<real>0.5600000000000001</real>
		<key>y</key>
		<real>0.57</real>
		<key>epid</key>
		<integer>43</integer>
		<key>intro</key>
		<string>some lame text for now</string>
		<key>itineraire</key>
		<array>
			<string>some lame text for now</string>
			<string>some lame text for now</string>
			<string>some lame text for now</string>
		</array>
		<key>historique</key>
		<string>some lame text for now</string>
		<key>celebs</key>
		<array>
			<string>some lame text for now</string>
			<string>some lame text for now</string>
		</array>
		<key>conversation</key>
		<array>
			<string>some lame text for now</string>
			<string>some lame text for now</string>
			<string>some lame text for now</string>
		</array>
		<key>savoir</key>
		<string>some lame text for now</string>
		<key>events</key>
		<string>some lame text for now</string>
		<key>numphotos</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Abbaye de Montivilliers</string>
		<key>x</key>
		<real>0.18</real>
		<key>y</key>
		<real>0.46</real>
		<key>epid</key>
		<integer>17</integer>
		<key>intro</key>
		<string>some lame text for now</string>
		<key>itineraire</key>
		<array>
			<string>some lame text for now</string>
			<string>some lame text for now</string>
			<string>some lame text for now</string>
		</array>
		<key>historique</key>
		<string>some lame text for now</string>
		<key>celebs</key>
		<array>
			<string>some lame text for now</string>
			<string>some lame text for now</string>
		</array>
		<key>conversation</key>
		<array>
			<string>some lame text for now</string>
			<string>some lame text for now</string>
			<string>some lame text for now</string>
		</array>
		<key>savoir</key>
		<string>some lame text for now</string>
		<key>events</key>
		<string>some lame text for now</string>
		<key>numphotos</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Abbaye de St Wandrille</string>
		<key>x</key>
		<real>0.5600000000000001</real>
		<key>y</key>
		<real>0.45</real>
		<key>epid</key>
		<integer>0</integer>
		<key>intro</key>
		<string>some lame text for now</string>
		<key>itineraire</key>
		<array>
			<string>some lame text for now</string>
			<string>some lame text for now</string>
			<string>some lame text for now</string>
		</array>
		<key>historique</key>
		<string>some lame text for now</string>
		<key>celebs</key>
		<array>
			<string>some lame text for now</string>
			<string>some lame text for now</string>
		</array>
		<key>conversation</key>
		<array>
			<string>some lame text for now</string>
			<string>some lame text for now</string>
			<string>some lame text for now</string>
		</array>
		<key>savoir</key>
		<string>some lame text for now</string>
		<key>events</key>
		<string>some lame text for now</string>
		<key>numphotos</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Abbaye de Valmont</string>
		<key>x</key>
		<real>0.36</real>
		<key>y</key>
		<real>0.17</real>
		<key>epid</key>
		<integer>0</integer>
		<key>intro</key>
		<string>some lame text for now</string>
		<key>itineraire</key>
		<array>
			<string>some lame text for now</string>
			<string>some lame text for now</string>
			<string>some lame text for now</string>
		</array>
		<key>historique</key>
		<string>some lame text for now</string>
		<key>celebs</key>
		<array>
			<string>some lame text for now</string>
			<string>some lame text for now</string>
		</array>
		<key>conversation</key>
		<array>
			<string>some lame text for now</string>
			<string>some lame text for now</string>
			<string>some lame text for now</string>
		</array>
		<key>savoir</key>
		<string>some lame text for now</string>
		<key>events</key>
		<string>some lame text for now</string>
		<key>numphotos</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Caudebec-en-Caux</string>
		<key>x</key>
		<real>0.51</real>
		<key>y</key>
		<real>0.44</real>
		<key>epid</key>
		<integer>43</integer>
		<key>intro</key>
		<string>some lame text for now</string>
		<key>itineraire</key>
		<array>
			<string>some lame text for now</string>
			<string>some lame text for now</string>
			<string>some lame text for now</string>
		</array>
		<key>historique</key>
		<string>some lame text for now</string>
		<key>celebs</key>
		<array>
			<string>some lame text for now</string>
			<string>some lame text for now</string>
		</array>
		<key>conversation</key>
		<array>
			<string>some lame text for now</string>
			<string>some lame text for now</string>
			<string>some lame text for now</string>
		</array>
		<key>savoir</key>
		<string>some lame text for now</string>
		<key>events</key>
		<string>some lame text for now</string>
		<key>numphotos</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Côte des Deux Amants</string>
		<key>x</key>
		<real>0.84</real>
		<key>y</key>
		<real>0.7</real>
		<key>epid</key>
		<integer>27</integer>
		<key>intro</key>
		<string>some lame text for now</string>
		<key>itineraire</key>
		<array>
			<string>some lame text for now</string>
			<string>some lame text for now</string>
			<string>some lame text for now</string>
		</array>
		<key>historique</key>
		<string>some lame text for now</string>
		<key>celebs</key>
		<array>
			<string>some lame text for now</string>
			<string>some lame text for now</string>
		</array>
		<key>conversation</key>
		<array>
			<string>some lame text for now</string>
			<string>some lame text for now</string>
			<string>some lame text for now</string>
		</array>
		<key>savoir</key>
		<string>some lame text for now</string>
		<key>events</key>
		<string>some lame text for now</string>
		<key>numphotos</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Duclair</string>
		<key>x</key>
		<real>0.62</real>
		<key>y</key>
		<real>0.49</real>
		<key>epid</key>
		<integer>30</integer>
		<key>intro</key>
		<string>some lame text for now</string>
		<key>itineraire</key>
		<array>
			<string>some lame text for now</string>
			<string>some lame text for now</string>
			<string>some lame text for now</string>
		</array>
		<key>historique</key>
		<string>some lame text for now</string>
		<key>celebs</key>
		<array>
			<string>some lame text for now</string>
			<string>some lame text for now</string>
		</array>
		<key>conversation</key>
		<array>
			<string>some lame text for now</string>
			<string>some lame text for now</string>
			<string>some lame text for now</string>
		</array>
		<key>savoir</key>
		<string>some lame text for now</string>
		<key>events</key>
		<string>some lame text for now</string>
		<key>numphotos</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Etretat</string>
		<key>x</key>
		<real>0.2</real>
		<key>y</key>
		<real>0.21</real>
		<key>epid</key>
		<integer>1</integer>
		<key>intro</key>
		<string>some lame text for now</string>
		<key>itineraire</key>
		<array>
			<string>some lame text for now</string>
			<string>some lame text for now</string>
			<string>some lame text for now</string>
		</array>
		<key>historique</key>
		<string>some lame text for now</string>
		<key>celebs</key>
		<array>
			<string>some lame text for now</string>
			<string>some lame text for now</string>
		</array>
		<key>conversation</key>
		<array>
			<string>some lame text for now</string>
			<string>some lame text for now</string>
			<string>some lame text for now</string>
		</array>
		<key>savoir</key>
		<string>some lame text for now</string>
		<key>events</key>
		<string>some lame text for now</string>
		<key>numphotos</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>La Haie d&apos;Etigues</string>
		<key>x</key>
		<real>0.25</real>
		<key>y</key>
		<real>0.19</real>
		<key>epid</key>
		<integer>0</integer>
		<key>intro</key>
		<string>some lame text for now</string>
		<key>itineraire</key>
		<array>
			<string>some lame text for now</string>
			<string>some lame text for now</string>
			<string>some lame text for now</string>
		</array>
		<key>historique</key>
		<string>some lame text for now</string>
		<key>celebs</key>
		<array>
			<string>some lame text for now</string>
			<string>some lame text for now</string>
		</array>
		<key>conversation</key>
		<array>
			<string>some lame text for now</string>
			<string>some lame text for now</string>
			<string>some lame text for now</string>
		</array>
		<key>savoir</key>
		<string>some lame text for now</string>
		<key>events</key>
		<string>some lame text for now</string>
		<key>numphotos</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>La Bouille</string>
		<key>x</key>
		<real>0.65</real>
		<key>y</key>
		<real>0.67</real>
		<key>epid</key>
		<integer>17</integer>
		<key>intro</key>
		<string>some lame text for now</string>
		<key>itineraire</key>
		<array>
			<string>some lame text for now</string>
			<string>some lame text for now</string>
			<string>some lame text for now</string>
		</array>
		<key>historique</key>
		<string>some lame text for now</string>
		<key>celebs</key>
		<array>
			<string>some lame text for now</string>
			<string>some lame text for now</string>
		</array>
		<key>conversation</key>
		<array>
			<string>some lame text for now</string>
			<string>some lame text for now</string>
			<string>some lame text for now</string>
		</array>
		<key>savoir</key>
		<string>some lame text for now</string>
		<key>events</key>
		<string>some lame text for now</string>
		<key>numphotos</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Paris</string>
		<key>x</key>
		<real>0.83</real>
		<key>y</key>
		<real>0.9</real>
		<key>epid</key>
		<integer>18</integer>
		<key>intro</key>
		<string>some lame text for now</string>
		<key>itineraire</key>
		<array>
			<string>some lame text for now</string>
			<string>some lame text for now</string>
			<string>some lame text for now</string>
		</array>
		<key>historique</key>
		<string>some lame text for now</string>
		<key>celebs</key>
		<array>
			<string>some lame text for now</string>
			<string>some lame text for now</string>
		</array>
		<key>conversation</key>
		<array>
			<string>some lame text for now</string>
			<string>some lame text for now</string>
			<string>some lame text for now</string>
		</array>
		<key>savoir</key>
		<string>some lame text for now</string>
		<key>events</key>
		<string>some lame text for now</string>
		<key>numphotos</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Pont-de-l&apos;Arche</string>
		<key>x</key>
		<real>0.78</real>
		<key>y</key>
		<real>0.72</real>
		<key>epid</key>
		<integer>17</integer>
		<key>intro</key>
		<string>some lame text for now</string>
		<key>itineraire</key>
		<array>
			<string>some lame text for now</string>
			<string>some lame text for now</string>
			<string>some lame text for now</string>
		</array>
		<key>historique</key>
		<string>some lame text for now</string>
		<key>celebs</key>
		<array>
			<string>some lame text for now</string>
			<string>some lame text for now</string>
		</array>
		<key>conversation</key>
		<array>
			<string>some lame text for now</string>
			<string>some lame text for now</string>
			<string>some lame text for now</string>
		</array>
		<key>savoir</key>
		<string>some lame text for now</string>
		<key>events</key>
		<string>some lame text for now</string>
		<key>numphotos</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Rouen</string>
		<key>x</key>
		<real>0.73</real>
		<key>y</key>
		<real>0.5600000000000001</real>
		<key>epid</key>
		<integer>17</integer>
		<key>intro</key>
		<string>some lame text for now</string>
		<key>itineraire</key>
		<array>
			<string>some lame text for now</string>
			<string>some lame text for now</string>
			<string>some lame text for now</string>
		</array>
		<key>historique</key>
		<string>some lame text for now</string>
		<key>celebs</key>
		<array>
			<string>some lame text for now</string>
			<string>some lame text for now</string>
		</array>
		<key>conversation</key>
		<array>
			<string>some lame text for now</string>
			<string>some lame text for now</string>
			<string>some lame text for now</string>
		</array>
		<key>savoir</key>
		<string>some lame text for now</string>
		<key>events</key>
		<string>some lame text for now</string>
		<key>numphotos</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Tancarville</string>
		<key>x</key>
		<real>0.355</real>
		<key>y</key>
		<real>0.49</real>
		<key>epid</key>
		<integer>33</integer>
		<key>intro</key>
		<string>some lame text for now</string>
		<key>itineraire</key>
		<array>
			<string>some lame text for now</string>
			<string>some lame text for now</string>
			<string>some lame text for now</string>
		</array>
		<key>historique</key>
		<string>some lame text for now</string>
		<key>celebs</key>
		<array>
			<string>some lame text for now</string>
			<string>some lame text for now</string>
		</array>
		<key>conversation</key>
		<array>
			<string>some lame text for now</string>
			<string>some lame text for now</string>
			<string>some lame text for now</string>
		</array>
		<key>savoir</key>
		<string>some lame text for now</string>
		<key>events</key>
		<string>some lame text for now</string>
		<key>numphotos</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Yvetot</string>
		<key>x</key>
		<real>0.53</real>
		<key>y</key>
		<real>0.32</real>
		<key>epid</key>
		<integer>14</integer>
		<key>intro</key>
		<string>some lame text for now</string>
		<key>itineraire</key>
		<array>
			<string>some lame text for now</string>
			<string>some lame text for now</string>
			<string>some lame text for now</string>
		</array>
		<key>historique</key>
		<string>some lame text for now</string>
		<key>celebs</key>
		<array>
			<string>some lame text for now</string>
			<string>some lame text for now</string>
		</array>
		<key>conversation</key>
		<array>
			<string>some lame text for now</string>
			<string>some lame text for now</string>
			<string>some lame text for now</string>
		</array>
		<key>savoir</key>
		<string>some lame text for now</string>
		<key>events</key>
		<string>some lame text for now</string>
		<key>numphotos</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Château de Gueures</string>
		<key>x</key>
		<real>0.65</real>
		<key>y</key>
		<real>0.1</real>
		<key>epid</key>
		<integer>12</integer>
		<key>intro</key>
		<string>some lame text for now</string>
		<key>itineraire</key>
		<array>
			<string>some lame text for now</string>
			<string>some lame text for now</string>
			<string>some lame text for now</string>
		</array>
		<key>historique</key>
		<string>some lame text for now</string>
		<key>celebs</key>
		<array>
			<string>some lame text for now</string>
			<string>some lame text for now</string>
		</array>
		<key>conversation</key>
		<array>
			<string>some lame text for now</string>
			<string>some lame text for now</string>
			<string>some lame text for now</string>
		</array>
		<key>savoir</key>
		<string>some lame text for now</string>
		<key>events</key>
		<string>some lame text for now</string>
		<key>numphotos</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Doudeville</string>
		<key>x</key>
		<real>0.54</real>
		<key>y</key>
		<real>0.17</real>
		<key>epid</key>
		<integer>14</integer>
		<key>intro</key>
		<string>some lame text for now</string>
		<key>itineraire</key>
		<array>
			<string>some lame text for now</string>
			<string>some lame text for now</string>
			<string>some lame text for now</string>
		</array>
		<key>historique</key>
		<string>some lame text for now</string>
		<key>celebs</key>
		<array>
			<string>some lame text for now</string>
			<string>some lame text for now</string>
		</array>
		<key>conversation</key>
		<array>
			<string>some lame text for now</string>
			<string>some lame text for now</string>
			<string>some lame text for now</string>
		</array>
		<key>savoir</key>
		<string>some lame text for now</string>
		<key>events</key>
		<string>some lame text for now</string>
		<key>numphotos</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Lillebonne</string>
		<key>x</key>
		<real>0.38</real>
		<key>y</key>
		<real>0.44</real>
		<key>epid</key>
		<integer>29</integer>
		<key>intro</key>
		<string>some lame text for now</string>
		<key>itineraire</key>
		<array>
			<string>some lame text for now</string>
			<string>some lame text for now</string>
			<string>some lame text for now</string>
		</array>
		<key>historique</key>
		<string>some lame text for now</string>
		<key>celebs</key>
		<array>
			<string>some lame text for now</string>
			<string>some lame text for now</string>
		</array>
		<key>conversation</key>
		<array>
			<string>some lame text for now</string>
			<string>some lame text for now</string>
			<string>some lame text for now</string>
		</array>
		<key>savoir</key>
		<string>some lame text for now</string>
		<key>events</key>
		<string>some lame text for now</string>
		<key>numphotos</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Le Mesnil-sous-Jumièges</string>
		<key>x</key>
		<real>0.6</real>
		<key>y</key>
		<real>0.59</real>
		<key>epid</key>
		<integer>43</integer>
		<key>intro</key>
		<string>some lame text for now</string>
		<key>itineraire</key>
		<array>
			<string>some lame text for now</string>
			<string>some lame text for now</string>
			<string>some lame text for now</string>
		</array>
		<key>historique</key>
		<string>some lame text for now</string>
		<key>celebs</key>
		<array>
			<string>some lame text for now</string>
			<string>some lame text for now</string>
		</array>
		<key>conversation</key>
		<array>
			<string>some lame text for now</string>
			<string>some lame text for now</string>
			<string>some lame text for now</string>
		</array>
		<key>savoir</key>
		<string>some lame text for now</string>
		<key>events</key>
		<string>some lame text for now</string>
		<key>numphotos</key>
		<integer>2</integer>
	</dict>
</array>
</plist>
