<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Abbaye de Boscherville</string>
		<key>x</key>
		<real>0.66</real>
		<key>y</key>
		<real>0.58</real>
		<key>epid</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Abbaye de Fécamp</string>
		<key>x</key>
		<real>0.31</real>
		<key>y</key>
		<real>0.16</real>
		<key>epid</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Abbaye Gruchet le Valasse</string>
		<key>x</key>
		<real>0.37</real>
		<key>y</key>
		<real>0.43</real>
		<key>epid</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Abbaye de Jumièges</string>
		<key>x</key>
		<real>0.57</real>
		<key>y</key>
		<real>0.60</real>
		<key>epid</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Abbaye Montivilliers</string>
		<key>x</key>
		<real>0.18</real>
		<key>y</key>
		<real>0.46</real>
		<key>epid</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Abbaye St Wandrille</string>
		<key>x</key>
		<real>0.56</real>
		<key>y</key>
		<real>0.45</real>
		<key>epid</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Abbaye de Valmont</string>
		<key>x</key>
		<real>0.36</real>
		<key>y</key>
		<real>0.17</real>
		<key>epid</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Caudebec en Caux</string>
		<key>x</key>
		<real>0.51</real>
		<key>y</key>
		<real>0.46</real>
		<key>epid</key>
		<integer>0</integer>
	</dict>
    <dict>
		<key>name</key>
		<string>Côte des Deux Amants</string>
		<key>x</key>
		<real>0.84</real>
		<key>y</key>
		<real>0.74</real>
		<key>epid</key>
		<integer>0</integer>
	</dict>
    <dict>
		<key>name</key>
		<string>Duclair</string>
		<key>x</key>
		<real>0.62</real>
		<key>y</key>
		<real>0.51</real>
		<key>epid</key>
		<integer>0</integer>
	</dict>
    <dict>
		<key>name</key>
		<string>Etretat</string>
		<key>x</key>
		<real>0.20</real>
		<key>y</key>
		<real>0.23</real>
		<key>epid</key>
		<integer>0</integer>
	</dict>
    <dict>
		<key>name</key>
		<string>La Haie d'Etigues</string>
		<key>x</key>
		<real>0.25</real>
		<key>y</key>
		<real>0.21</real>
		<key>epid</key>
		<integer>0</integer>
	</dict>
    <dict>
		<key>name</key>
		<string>La Bouille</string>
		<key>x</key>
		<real>0.65</real>
		<key>y</key>
		<real>0.70</real>
		<key>epid</key>
		<integer>0</integer>
	</dict>
    <dict>
		<key>name</key>
		<string>Paris</string>
		<key>x</key>
		<real>0.83</real>
		<key>y</key>
		<real>0.93</real>
		<key>epid</key>
		<integer>0</integer>
	</dict>
    
</array>
</plist>
