<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>title</key>
	<string>Des heures s’écoulèrent</string>
	<key>subtitle</key>
	<string>Des heures s’écoulèrent. Un souffle frais qui montait de la mer et flottait sur le plateau leur caressait le visage.</string>
    <key>nexttitle</key>
    <string>Ils s’étaient rapprochés</string>
</dict>
</plist>
