<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>title</key>
	<string>Ils s’étaient rapprochés</string>
	<key>subtitle</key>
	<string>Ils s’étaient rapprochés de l’endroit au-dessus duquel écoutait Raoul. Bennetot chuchota :</string>
    <key>nexttitle</key>
    <string>Joséphine Balsamo, née en 1788…</string>
</dict>
</plist>
