<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>title</key>
	<string>Ils s’étaient rapprochés</string>
	<key>subtitle</key>
	<string>Ils s’étaient rapprochés de l’endroit au-dessus duquel écoutait Raoul. Bennetot chuchota :</string>
    <key>nexttitle</key>
    <string>Joséphine Balsamo, née en 1788…</string>
	<key>paragraphs</key>
	<array>
        <string>Ils s’étaient rapprochés de l’endroit au-dessus duquel écoutait Raoul. Bennetot chuchota :</string>
        <string>– Et après ?</string>
        <string>– Après, j’explique la situation à nos amis, le rôle de cette femme…</string>
        <string>– Et tu t’imagines obtenir d’eux qu’on la condamne ?…</string>
        <string>– Que je l’obtienne ou non, le résultat sera le même. Beaumagnan l’exige, pouvons-nous refuser ?</string>
        <string>– Ah ! fit Bennetot, cet homme nous perdra tous.</string>
        <string>Le baron d’Étigues haussa les épaules.</string>
        <string>– Il faut un homme comme lui pour lutter contre une femme comme elle. As-tu tout préparé ?</string>
        <string>– Oui, les deux barques sont sur la plage, au bas de l’Escalier du Curé. La plus petite est défoncée et coulera dix minutes après qu’on l’aura mise à l’eau.</string>
        <string>– Tu l’as chargée d’une pierre ?</string>
        <string>– Oui, un gros galet troué qu’on attachera à l’anneau d’une corde.</string>
        <string>Ils se turent.</string>
        <string>Pas un des mots prononcés n’avait échappé à Raoul d’Andrésy, et pas un qui n’eût accru jusqu’à l’excès son ardente curiosité.</string>
        <string>« Sacrebleu ! pensait-il, je ne donnerais pas ma loge de balcon pour un empire. Quels gaillards ! Ça parle de tuer comme d’autres de changer de faux col ! »</string>
        <string>Godefroy d’Étigues surtout l’étonnait. Comment la tendre Clarisse pouvait-elle être la fille de ce sombre personnage ? Quel but poursuivait-il ? Quels motifs obscurs le dirigeaient ? Haine, cupidité, désir de vengeance, instincts de cruauté ? Il évoquait un bourreau d’autrefois, prêt à quelque sinistre besogne. Des flammes illuminaient sa face empourprée et sa barbe rousse.</string>
        <string>Les trois autres invités arrivèrent d’un coup. Raoul les avait souvent remarqués comme des familiers de la Haie d’Étigues. Une fois assis, ils tournèrent le dos aux deux fenêtres qui éclairaient la salle, de sorte que leur visage demeurait dans une sorte de pénombre.</string>
        <string>À quatre heures seulement, deux nouveaux venus entrèrent. L’un, âgé, de silhouette militaire, sanglé dans sa redingote, et qui portait au menton la barbiche que l’on appelait l’impériale sous Napoléon III, s’arrêta sur le seuil.</string>
        <string>Tout le monde se leva pour aller au-devant de l’autre, que Raoul n’hésita pas à considérer comme l’auteur de la lettre non signée, celui que l’on attendait et que le baron avait désigné sous le nom de Beaumagnan.</string>
        <string>Bien qu’il fût le seul à n’avoir ni titre ni particule, on le reçut ainsi qu’un chef, avec un empressement qui convenait à son attitude de domination et à son regard autoritaire. La figure rasée, les joues creuses, de magnifiques yeux noirs tout animés de passion, quelque chose de sévère et même d’ascétique dans ses manières comme dans son habillement, il avait l’air d’un personnage d’église.</string>
        <string>Il pria que l’on voulût bien se rasseoir, excusa celui de ses amis qu’il n’avait pu amener, le comte de Brie, et fit avancer son compagnon qu’il présenta :</string>
        <string>« Le prince d’Arcole… Vous saviez, n’est-ce pas ? que le prince d’Arcole était des nôtres, mais le hasard avait voulu qu’il fût absent lors de nos réunions et que son action s’exerçât de loin, et de la façon la plus heureuse d’ailleurs. Aujourd’hui, son témoignage nous est nécessaire, puisque deux fois déjà, en 1870, le prince d’Arcole a rencontré la créature infernale qui nous menace. »</string>
        <string>Raoul faisant aussitôt le calcul, éprouva quelque déception : « la créature infernale » devait avoir dépassé la cinquantaine, puisque ses rencontres avec le prince d’Arcole avaient eu lieu vingt-quatre ans plus tôt.</string>
        <string>Cependant le prince prenait place parmi les invités, tandis que Beaumagnan emmenait à part Godefroy d’Étigues. Le baron lui remit une enveloppe, contenant sans aucun doute la lettre compromettante. Puis ils eurent, à voix basse, un colloque assez vif, auquel Beaumagnan coupa court d’un geste de commandement énergique.</string>
        <string>« Pas commode, le monsieur, se dit Raoul. Le verdict est formel. Morte la bête, mort le venin. La noyade aura lieu, car il semble bien que ce soit le dénouement imposé. »</string>
        <string>Beaumagnan passa au dernier rang. Mais, avant de s’asseoir, il s’exprima ainsi :</string>
        <string>– Mes amis, vous savez à quel point l’heure actuelle est grave pour nous. Tous bien unis et d’accord sur le but magnifique que nous voulons atteindre, nous avons entrepris une œuvre commune d’une importance considérable. Il nous semble, avec raison, que les intérêts du pays, ceux de notre parti, ceux de notre religion – et je ne sépare pas les uns des autres – sont liés à la réussite de nos projets. Or ces projets, depuis quelque temps, se heurtent à l’audace et à l’hostilité implacable d’une femme qui, disposant de certaines indications, s’est mise à la recherche du secret que nous sommes près de découvrir. Si elle y parvient avant nous, c’est l’effondrement de tous nos efforts. Elle ou nous, il n’y a pas de place pour deux. Souhaitons ardemment que la bataille engagée se décide en notre faveur.</string>
        <string>Beaumagnan s’assit et, s’appuyant des deux bras sur un dossier, courba sa haute taille comme s’il voulait n’être point vu.</string>
        <string>Et les minutes s’écoulèrent.</string>
        <string>Entre ces hommes, réunis là pour une cause qui aurait dû susciter les conversations, le silence fut absolu, tellement l’attention de tous était portée vers les bruits lointains qui pouvaient survenir de la campagne. La capture de cette femme obsédait leur esprit. Ils avaient hâte de tenir et de voir leur adversaire.</string>
        <string>Le baron d’Étigues leva le doigt. On commençait à entendre le rythme sourd des pas d’un cheval.</string>
        <string>– C’est mon coupé, dit-il.</string>
        <string>Oui, mais l’ennemie s’y trouvait-elle ?</string>
        <string>Le baron se dirigea vers la porte. Comme d’habitude, Ie verger était vide, le personnel n’ayant jamais à faire que dans la cour d’honneur située sur la façade principale.</string>
        <string>Le bruit se rapprochait. La voiture quitta la route et traversa les champs. Puis soudain elle apparut entre les deux piliers d’entrée. Le conducteur fit un geste et le baron déclara :</string>
        <string>– Victoire ! On la tient.</string>
        <string>Le coupé s’arrêta. D’Ormont, qui était sur le siège, sauta vivement. Roux d’Estiers s’élança hors de la voiture. Aidés par le baron, ils saisirent à l’intérieur une femme dont les jambes et les mains étaient attachées, et dont une écharpe de gaze enveloppait la tête, et ils la transportèrent jusqu’au banc d’église qui marquait le milieu de la salle.</string>
        <string>– Pas la moindre difficulté, raconta d’Ormont. Au sortir du train elle s’est engouffrée dans la voiture. Aux Quatre-Chemins, on l’a saisie, sans qu’elle ait le temps de dire ouf.</string>
        <string>– Ôtez l’écharpe, ordonna le baron. D’ailleurs, on peut aussi bien lui laisser la liberté de ses mouvements.</string>
        <string>Lui-même dénoua les liens.</string>
        <string>D’Ormont enleva le voile et découvrit la tête.</string>
        <string>Il y eut, parmi les assistants, une exclamation de stupeur, et Raoul, du haut de son poste, d’où il apercevait la captive en pleine lumière, eut la même commotion de surprise en voyant apparaître une femme dans toute la splendeur de la jeunesse et de la beauté.</string>
        <string>Mais un cri domina les murmures. Le prince d’Arcole s’était avancé au premier rang, et, le visage contracté, les yeux agrandis, il balbutiait :</string>
        <string>– C’est elle… c’est elle… je la reconnais… Ah ! quelle chose terrifiante !</string>
        <string>– Qu’y a-t-il ? demanda le baron. Qu’y a-t-il de terrifiant ? Expliquez-vous.</string>
        <string>Et le prince d’Arcole prononça cette phrase incompréhensible :</string>
        <string>– Elle a le même âge qu’il y a vingt-quatre ans !</string>
        <string>La femme était assise et gardait le buste droit, les poings serrés sur les genoux. Son chapeau avait dû tomber au cours de l’agression, et sa chevelure à moitié défaite tombait derrière, en masse épaisse retenue par un peigne d’or, tandis que deux bandeaux aux reflets fauves se divisaient également au-dessus du front, un peu ondulés sur les tempes.</string>
        <string>Le visage était admirablement beau, formé par des lignes très pures et animé d’une expression qui, même dans l’impassibilité, même dans la peur semblait un sourire. Avec un menton plutôt mince, ses pommettes légèrement saillantes, ses yeux très fendus, et ses paupières lourdes, elle rappelait ces femmes de Vinci ou plutôt de Bernardino Luini dont toute la grâce est dans un sourire qu’on ne voit pas, mais qu’on devine, et qui vous émeut et vous inquiète à la fois. Sa mise était simple : sous un vêtement de voyage qu’elle laissa tomber, une robe de laine grise dessinait sa taille et ses épaules.</string>
        <string>« Bigre ! pensa Raoul qui ne la quittait pas du regard, elle paraît bien inoffensive, l’infernale et magnifique créature ! Et ils se mettent à neuf ou dix pour la combattre ? »</string>
        <string>Elle observait attentivement ceux qui l’entouraient, d’Étigues et ses amis, tâchant de distinguer les autres, dans la pénombre.</string>
        <string>À la fin, elle dit :</string>
        <string>– Que me voulez-vous ? Je ne connais aucun de ceux qui sont là. Pourquoi m’avez-vous amenée ici ?</string>
        <string>– Vous êtes notre ennemie, déclara Godefroy d’Étigues.</string>
        <string>Elle secoua la tête doucement :</string>
        <string>– Votre ennemie ? Il doit y avoir une confusion. Êtes-vous bien sûrs de ne pas vous tromper ? Je suis Mme Pellegrini.</string>
        <string>– Vous n’êtes pas madame Pellegrini.</string>
        <string>– Je vous affirme…</string>
        <string>– Non, répéta le baron Godefroy d’une voix forte.</string>
        <string>Et il ajouta ces mots aussi déconcertants que les mots prononcés par le prince d’Arcole.</string>
        <string>– Pellegrini, c’était un des noms sous lequel se dissimulait, au dix-huitième siècle, l’homme dont vous prétendez être la fille.</string>
        <string>Elle ne répondit point sur le moment, comme si elle n’avait pas saisi l’absurdité de la phrase. Puis elle demanda :</string>
        <string>– Comment donc m’appellerais-je, selon vous ?</string>
        <string>– Joséphine Balsamo, comtesse de Cagliostro.</string>
	</array>
</dict>
</plist>
