<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>title</key>
	<string>Arsène Lupin a vingt ans</string>
	<key>subtitle</key>
	<string>Raoul d’Andrésy jeta sa bicyclette, après en avoir éteint la lanterne, derrière un talus rehaussé de broussailles.</string>
	<key>paragraphs</key>
	<array>
		<string>Raoul d’Andrésy jeta sa bicyclette, après en avoir éteint la lanterne, derrière un talus rehaussé de broussailles. À ce moment, trois heures sonnaient au clocher de Bénouville.</string>
		<string>Dans l’ombre épaisse de la nuit, il suivit le chemin de campagne qui desservait le domaine de la Haie d’Étigues, et parvint ainsi aux murs de l’enceinte. Il attendit un peu. Des chevaux qui piaffent, des roues qui résonnent sur le pavé d’une cour, un bruit de grelots, les deux battants de la porte ouverts d’un coup… et un break passa. À peine Raoul eut-il le temps de percevoir des voix d’hommes et de distinguer le canon d’un fusil. Déjà la voiture gagnait la grand-route et filait vers Étretat.</string>
		<string>« Allons, se dit-il, la chasse aux guillemots est captivante, la roche où on les massacre est lointaine… je vais enfin savoir ce que signifient cette partie de chasse improvisée et toutes ces allées et venues. »</string>
		<string>Il longea par la gauche les murs du domaine, les contourna, et, après le deuxième angle, s’arrêta au quarantième pas. Il tenait deux clefs dans sa main. La première ouvrit une petite porte basse, après laquelle il monta un escalier taillé au creux d’un vieux rempart, à moitié démoli, qui flanquait une des ailes du château. La deuxième lui livra une entrée secrète, au niveau du premier étage.</string>
		<string>Il alluma sa lampe de poche, et, sans trop de précautions, car il savait que le personnel habitait de l’autre côté, et que Clarisse d’Étigues, la fille unique du baron, demeurait au second, il suivit un couloir qui le conduisit dans un vaste cabinet de travail : c’était là que, quelques semaines auparavant, Raoul avait demandé au baron la main de sa fille, et là qu’il avait été accueilli par une explosion de colère indignée dont il gardait un souvenir désagréable.</string>
	</array>
</dict>
</plist>
